<--html>
<head>
<!--__ ** STRUCT ENTRY TEMPLATE (H5_struct_entry.html) ************ -->
<!--__ Last modified:  4 Aug 2009                                   -->
<!--__                                                              -->
<!--__ GENERAL INSTRUCTIONS                                         -->
<!--__                                                              -->
<!--__ This file provides a 'self-describing' template for          -->
<!--__ full and free-standing struct descriptions in the            -->
<!--__ HDF5 Reference Manual (RM).                                  -->
<!--__                                                              -->
<!--__ If you want to print this file for reference, the first      -->
<!--__ line of the file has been modified so that some tools will   -->
<!--__ open the file and display this text.                         -->
<!--__ If that does not work, make a copy of the file, remove the   -->
<!--__ first 2 lines (the <html> and <head> tags), and open or      -->
<!--__ print the file.                                              -->
<!--__ If that still doesn't work, speak to Frank.                  -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                  TEMPLATE UNDER DEVELOPMENT                  -->
<!--__                                                              -->
<!--__             See Frank if you need this template.             -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->

