<!--__ ** FUNCTION ENTRY TEMPLATE (h5function_entry.htm) ********** -->
<!--__ Last modified:  27 March 2012                                -->
<!--__                                                              -->
<!--__ Use the following copyright header if and only if this       -->
<!--__ function entry is for an HDF5 feature.                       -->
<!--__ If this is for a feature in a different HDF Group product,   -->
<!--__ use that product's copyright header.                         -->
<!--__ ***********************************************************  -->


<!--
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  * Copyright by The HDF Group.                                               *
  * All rights reserved.                                                      *
  *                                                                           *
  * This file is part of HDF5.  The full HDF5 copyright notice, including     *
  * terms governing use, modification, and redistribution, is contained in    *
  * the files COPYING and Copyright.html.  COPYING can be found at the root   *
  * of the source code distribution tree; Copyright.html can be found at the  *
  * root level of an installed copy of the electronic HDF5 document set and   *
  * is linked from the top-level documents page.  It can also be found at     *
  * http://www.hdfgroup.org/HDF5/doc/Copyright.html.  If you do not have      *
  * access to either file, you may request a copy from help@hdfgroup.org.     *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 -->


<!--__ ***********************************************************  -->
<!--__                                                              -->
<!--__ GENERAL INSTRUCTIONS                                         -->
<!--__                                                              -->
<!--__ This file provides a 'self-describing' template for          -->
<!--__ HDF5 function, callback function, and operator function      -->
<!--__ entries in the HDF5 Reference Manual (RM).                   -->
<!--__                                                              -->
<!--__ You should be able to print this file with these comments    -->
<!--__ exposed for reference; speak with Frank if you have trouble  -->
<!--__ doing so.                                                    -->
<!--__                                                              -->
<!--__ For a new function entry:                                    -->
<!--__   Rename this file as <function_name>.htm.                   -->
<!--__   E.g., the file for the function H5Ocreate_little_green_man -->
<!--__   would be H5Ocreate_little_green_man.htm.                   -->
<!--__                                                              -->
<!--__ For an existing function entry:                              -->
<!--__   Use this file as a guide to the latest content and         -->
<!--__   organization.  If desired, copy instructions and HTML      -->
<!--__   tags from this file into the existing function entry, and  -->
<!--__   use them as you make updates.                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__ To use the template:                                         -->
<!--__                                                              -->
<!--__ Replace instructional text with text relevant to the         -->
<!--__ function.                                                    -->
<!--__                                                              -->
<!--__ Lines beginning with '<!--__' are instructions to you,       -->
<!--__ the author; feel free to remove them as you go.              -->
<!--__                                                              -->
<!--__ In general, HTML tags (enclosed in < >'s) should not be      -->
<!--__ changed.                                                     -->
<!--__                                                              -->
<!--__ Indent in a style consistent with the example text.          -->
<!--__ When possible, limit line length to 80 characters.           -->
<!--__ Make exceptions for cases where HTML requires longer lines.  -->
<!--__ For example, some links are more than 80 characters long     -->
<!--__ and cannot be readily broken.                                -->
<!--__                                                              -->
<!--__ If the function description calls for a table, you may       -->
<!--__ insert open and close 'pre' tags:                            -->
<!--__          <pre>                                               -->
<!--__          </pre>                                              -->
<!--__ Insert the table contents formatted as aligned flat text     -->
<!--__ between the open and close 'pre' tags.                       -->
<!--__ BE SURE to let a member of the documentation team know that  -->
<!--__ you have done this when you finish with the file so that the -->
<!--__ flat text can be converted to an HTML table.                 -->
<!--__                                                              -->
<!--__                                                              -->
<!--__ FUNCTION NAME INSTRUCTIONS                                   -->
<!--__ Replace the string 'H5function_name' with the actual         -->
<!--__ function name everywhere it occurs in the file.              -->
<!--__                                                              -->
<!--__ SECTION-BY-SECTION INSTRUCTIONS                              -->
<!--__ Follow the embedded instructions for each section.           -->
<!--__                                                              -->


<!--__ ***********************************************************  -->
<!--__ Do not alter the next line; it is used by the PDF generator. -->
<!--__ ***********************************************************  -->
<!-- NEW PAGE -->


<!--__ *** HEADER RIGHT ******************************************  -->
<!--__ Update H5function_name; leave remainder of line unchanged    -->
<!--__ as it is also used by the PDF generator.                     -->
<!--__ ***********************************************************  -->
<!-- HEADER RIGHT "H5function_name" -->
<hr>
<dl>

<!--__ *** LAST MODIFIED DATE ************************************  -->
<!--__ Replace "day month year" with the date the entry was created -->
<!--__ or last modified:  8 April 2009, for example.                -->
<!--__ ***********************************************************  -->
  <dt><div align=right><font color=999999 size=-1><i>
      Last modified: day month year
      </i></font></div>

<!--__ *** NAME **************************************************  -->
<!--__ Update H5function_name; leave remainder of line the same.    -->
<!--__ ***********************************************************  -->
  <dt><strong>Name:</strong> <a name="API-FunctionName">H5function_name</a>


<!--__ *** SIGNATURE**********************************************  -->
<!--__ Update H5function_name and parameters in signature,          -->
<!--__ adjusting number of parameters as needed.                    -->
<!--__ ***********************************************************  -->
  <dt><strong>Signature:</strong>
    <dd><em>return_type </em><code>H5function_name</code>(
            <em>first_param_type </em><code>first_parameter</code>,
            <em>second_param_type </em><code>second_parameter</code>,
            <em>last_param_type </em><code>last_param</code>
        )


<!--__ *** PURPOSE ***********************************************  -->
<!--__ This section provides a one-line description of the          -->
<!--__ function's purpose in sentence form.                         -->
<!--__ NOTE THAT THE PURPOSE IS NOT NECESSARILY A RECAPITULATION    -->
<!--__ OF WHAT THE FUNCTION DOES; RATHER, IT SHOULD DESCRIBE WHAT   -->
<!--__ THE FUNCTION IS MEANT TO ACCOPMLISH, FROM THE USER'S POINT   -->
<!--__ OF VIEW.  THIS IS A CHANGE FROM PAST PRACTICE.               -->
<!--__                                                              -->
<!--__ For consistency in presentation, several model statements    -->
<!--__ are provided below; if one is appropriate, edit it only      -->
<!--__ enough to accurately describe the function's purpose.        -->
<!--__ If none of the models are appropriate, write a parallel      -->
<!--__ statement that fits the function.                            -->
<!--__                                                              -->
<!--__ In many cases, a bit of elaboration at the end of the        -->
<!--__ sentence will be appropriate.  For example, the first line   -->
<!--__ in each pair below is more informative than the second.      -->
<!--__ In general, add useful details but keep the statement short. -->
<!--__                                                              -->
<!--__    Creates an attribute attached to a specified object.      -->
<!--__    Creates an attribute.                                     -->
<!--__                                                              -->
<!--__    Creates a dataset at a specified location.                -->
<!--__    Creates a dataset.                                        -->
<!--__                                                              -->
<!--__ Preferred verbs include the following:                       -->
<!--__    Retrieves     The value is returned in a parameter.       -->
<!--__    Returns       The value is the function's return value.   -->
<!--__    Determines    The library does not just look up a value,  -->
<!--__                      it has to figure it out.                -->
<!--__    Creates, Opens, Closes, Removes                           -->
<!--__                                                              -->
<!--__ Select one of the following purpose statements and edit as   -->
<!--__ appropriate:                                                 -->
<!--__     Replace strings such as 'specify_the_object' with the    -->
<!--__         name of the appropriate item (file, group, dataset,  -->
<!--__         etc.).                                               -->
<!--__     Replace strings such as 'Closes_or_deletes' with the     -->
<!--__         word (e.g., 'Closes' or 'Deletes').                  -->
<!--__     Et cetera.                                               -->
<!--__ If no example is appropriate, write a similar sentence.      -->
<!--__ ***********************************************************  -->
  <p>
  <dt><strong>Purpose:</strong>
    <dd>Opens_or_creates a specify_the_object.
    <dd>Closes_or_deletes the specified specify_the_object.
    <dd>Sets the specify_the_attribute of a specify_the_object.
    <dd>Sets the specify_the_property in a 
        specify_the_property_list_class property list.
    <dd>Retrieves the specify_the_property_type settings.
    <dd>Retrieves the specify_the_property_list_or_type settings
        from the specified specify_the_class property list.
    <dd>Returns the size of the specified specify_the_object.
    <dd>Opens_or_creates a specify_the_type_of_object and returns 
        a specify_the_type_of_object identifier for further access.


<!--__ *** DEPRECATED FUNCTION ***********************************  -->
<!--__ In the case of a deprecated function, change the link below  -->
<!--__ to reference the function that replaces this one.            -->
<!--__                                                              -->
<!--__ If "in favor of..." is not the right comment, edit the text  -->
<!--__ accordingly.  For example, H5Pset_preserve was deprecated    -->
<!--__ because its functionality was rolled into the library's      -->
<!--__ core functionality, rendering the function unnecessary.      -->
<!--__                                                              -->
<!--__ If this function has not been deprecated, remove these       -->
<!--__ instructional lines and the next four lines as well.         -->
<!--__ ***********************************************************  -->
  <p>
  <dt><strong>Deprecated Function:</strong>
    <dd><i>This function is deprecated in favor of the function 
        <a href="../examples/H5Dwrite.html"><code>H5Dwrite</code></a>.</i>


<!--__ *** MOTIVATION ********************************************  -->
<!--__ This an OPTIONAL section for functions that may need more    -->
<!--__ than the simple statement in "Purpose:" to enable a user     -->
<!--__ to understand the situations that might call for this        -->
<!--__ function's use and/or the types of problems it addresses.    -->
<!--__                                                              -->
<!--__ Update H5function_name and the motivation text.              -->
<!--__ ***********************************************************  -->
  <p>
  <dt><strong>Motivation:</strong>
    <dd><code>H5function_name</code> 
      is used in these circumstances to achieve these things and/or 
      to address these problems.  
      <p>
      Keep it concise and high-level, but use multiple paragraphs 
      if needed.


<!--__ *** DESCRIPTION *******************************************  -->
<!--__ The "Description" section provides a more detailed           -->
<!--__ description of the function and instructions for its use.    -->
<!--__                                                              -->
<!--__ Update H5function_name and the description text.             -->
<!--__ ***********************************************************  -->
  <p>
  <dt><strong>Description:</strong>
    <dd><code>H5function_name</code> 
      does whatever this first paragraph says it does.  This 
      paragraph goes into more detail than the purpose line and 
      briefly mentions the roles of all parameters or groups of 
      parameters; it does not include details.
      <p>
      Succeeding paragraphs provide more detailed information
      regarding various aspects of the function or its use.
      <p>
      In general, parameters should be discussed in "Parameters:" 
      (below), which will include their complete descriptions and
      possible values.  Important groupings of or relationships 
      among parameters and interactions among parameters can be 
      discussed either here or in "Parameters:"; the determining
      factor is ease of user understanding.
       
      <p>
      Things that may not be obvious, but that are important for 
      correct use of the functions should be discussed here:
      observations, caveats, special instructions, and warnings, 
      for examples.  The reader should never have to look at the 
      source code or tests to figure these things out.
       
<!--__ *** IN THE CASE OF CALLBACK AND OPERATOR FUNCTIONS ********  -->
<!--__ If one of the function parameters is a callback or operator  -->
<!--__ function, include a statement similar to the following at    -->
<!--__ the appropriate spot in the description.                     -->
<!--__                                                              -->
<!--__ Use the same link on the parameter type in the "Parameters:" -->
<!--__ section below.                                               -->

      <p>
      The callback function [or operator function] must conform 
      to the prototype specified in
      <a href="H5L/H5L_elink_traverse_t.htm">
      <em>H5L_elink_traverse_t</em></a>.

<!--__ Similarly, add a link such as the following to point from    -->
<!--__ the callback or operator function description to all         -->
<!--__ functions that use this function as a parameter type.        -->
<!--__ If the callback/operator function might be called by         -->
<!--__ multiple HDF5 functions, include a link to each such         -->
<!--__ function.                                                    -->
<!--__ ***********************************************************  -->

      <p>
      This callback function [or operator function] is used as a
      parameter type in the following HDF5 functions:
      <ul>
          <li><a href="../RM_H5P.html#Property-SetELinkCb">
              <em>H5set_elink_cb</em></a>
          <li><a href="../RM_H5P.html#Property-GetELinkCb">
              <em>H5get_elink_cb</em></a>
      </ul>

<!--__ *** NOTES AND WARNINGS ************************************  -->

      <p>
      <b>Note/Warning:</b> If there is a risk of data corruption,
      silent failure, or unintended consequences that might go
      unnoticed, consider adding a <b>Note:</b> or <b>Warning:</b>
      lead-in to a paragraph.  In general, such notes should come at
      the end of the &ldquo;Description:&rdquo; section.


<!--__ *** PARAMETERS ********************************************  -->
<!--__ This section is used to enumerate and describe the           -->
<!--__ parameters.  A type, name, direction (IN/OUT), and general   -->
<!--__ description must be given for each parameter.  Additional    -->
<!--__ information is often provided regarding the specific values  -->
<!--__ a parameter may assume and the meanings of those values.     -->
<!--__                                                              -->
<!--__ Enter the parameter types, names, directions, and            -->
<!--__ descriptions. HTML tables are used for parameters;           -->
<!--__ feel free to ask if you need assistance with the tables.     -->
<!--__                                                              -->
<!--__ For each parameter, indicate the parameter's "direction"     -->
<!--__ (input, output, or both) with respect to the function        -->
<!--__ via the IN, OUT, or IN/OUT notation at the beginning of      -->
<!--__ parameter description:                                       -->
<!--__     IN indicates the parameter is input to the function.     -->
<!--__     OUT indicates the parameter is set by the function.      -->
<!--__     IN/OUT indicates the parameter is input to the           -->
<!--__         function and is also set by the function.            -->
<!--__                                                              -->
<!--__ If the parameter type is a struct or ENUM type or            -->
<!--__ if the description is more involved than usual,              -->
<!--__ see the one of the accompanying template files:              -->
<!--__     Struct                H5param_struct_insert.htm          -->
<!--__     ENUM                  H5param_enum_insert.htm            -->
<!--__     Long description      H5param_long_insert.htm            -->
<!--__ ***********************************************************  -->
  <p>
  <dt><strong>Parameters:</strong>
    <dd>
    <table>
      <tr valign="top">
        <td><em>first_param_type </em><code>first_param</code>
            </td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>IN: First parameter description
            </td></tr>
      <tr valign="top">
        <td><em>second_param_type&nbsp;*</em><code>second_param</code>
            </td><td>&nbsp;</td>
        <td>OUT: Second parameter description
            <p>
            Some parameters may require mutiple paragraphs while others 
            can be described in a single line.
            </td></tr>
      <tr valign="top">
        <td><em>last_param_type *</em><code>last_param</code>
            </td><td>&nbsp;</td>
        <td>IN/OUT: Last parameter description
<!--__ ***********************************************************  -->
<!--__ In some cases, it will be appropriate to list valid values   -->
<!--__ ***********************************************************  -->
            <p>
            For use when it is appropriate to list a parameter&rsquo;s values.
            Valid values include:
            <table>
                <tr valign=top align=left>
                    <td width=20>&nbsp;</td>
                    <td>
                        <code>VALUE_1</code>
                        </td>
                    <td width=10>&nbsp;</td>
                    <td>
                        Short description
<!--__ ***********************************************************  -->
<!--__ Use the following 3 lines where and if appropriate.          -->
<!--__ ***********************************************************  -->
                        <br>
                        <i>(Default)</i>  
                        </td></tr>
                <tr valign=top align=left>
                    <td>&nbsp;</td>
                    <td>
                        <code>VALUE_2</code>
                        </td>
                    <td>&nbsp;</td>
                    <td>
                        Short description
<!--__ ***********************************************************  -->
<!--__ Use the following 3 lines where and if appropriate.          -->
<!--__ ***********************************************************  -->
                        <br>
                        Requires <code>VALUE_x</code>.
                        </td></tr>
            </table>
<!--__ ***********************************************************  -->
<!--__ If valid values are not listed, remove all lines from        -->
<!--__ preceding "In some cases..." comment to here.                -->
<!--__ ***********************************************************  -->
            </td></tr>
    </table>


<!--__ *** RETURNS ***********************************************  -->
<!--__ Describe the datatype and meaning of the function's return   -->
<!--__ value.                                                       -->
<!--__                                                              -->
<!--__ Some examples are provided, each starting with a <dd> tag.   -->
<!--__ Select one of those and edit appropriately;                  -->
<!--__ delete the other examples.                                   -->
<!--__ If none are appropriate, write a similar entry.              -->
<!--__                                                              -->
<!--__ Guidelines for editing examples:                             -->
<!--__     Replace the string 'specify_the_item' with the           -->
<!--__     appropriate word(s), such as file, group, dataset,       -->
<!--__     named datatype, string, array, name, etc.                -->
<!--__                                                              -->
<!--__     In the case of hsize_t, specify the units;               -->
<!--__     typically, it will be bytes.                             -->
<!--__ ***********************************************************  -->
  <p>
  <dt><strong>Returns:</strong>

    <dd>Returns a non-negative value corresponding to XXX if successful;
        otherwise returns a negative value.
            
    <dd>Returns a non-negative value if successful;
        otherwise returns a negative value.
             
    <dd>Returns the size in bytes of the specify_the_item if successful;
        otherwise returns a negative value.
                 
    <dd>Returns a specify_the_item identifier if successful;
        otherwise returns a negative value.

    <dd>Returns <code>TRUE</code> if specify_the_item is valid and
        <code>FALSE</code> if not.
        Otherwise returns a negative value.
                 
  <p>


<!--__ *** FAILURE MODES *****************************************  -->
<!--__ Replace the text following the <dd> with a description       -->
<!--__ of how the function may fail.                                -->
<!--__ ***********************************************************  -->
  <p>
  <dt><strong>Failure Modes:</strong>
    <dd>List possible failure modes, with causes and ramifications,
        paying particular attention to non-intuitive failures, 
        unusual failure modes, and failures caused by the interaction 
        of two or more functions.
        <p>
        In some cases, the possibe failures are obvious and/or trivial;
        such cases can be kept simple.  On the other hand, don't be 
        afraid to take several paragraphs for complex cases.


<!--__ *** USAGE EXAMPLES ****************************************  -->
<!--__ Multiple examples may be given.  Two are shown below and     -->
<!--__ more can be added if needed (or one removed).                -->
<!--__                                                              -->
<!--__ Each usage example should have text describing the meanings  -->
<!--__ of the parameters following the <dd> tag.                    -->
<!--__ The sample usage line(s) should be entered between the       -->
<!--__ <dir><pre> and </pre></dir> tags.                            -->
<!--__ Multiple entries are separated by <p> tags.                  -->
<!--__ ***********************************************************  -->
  <p>
  <dt><strong>Example Usage:</strong>
    <dd>Discuss the elements in the first usage example here.
<dir><pre>
Complete usage example line(s) for the first example here
</pre></dir>
    <p>

    <dd>Discuss the elements in the second usage example here.
<dir><pre>
Complete usage example line(s) for the second example here
</pre></dir>
  <p>


<!--__ *** FORTRAN INTERFACE  ************************************  -->
<!--__ Leave this comment block in place if there is not yet a      -->
<!--__ Fortran interface for this function.                         -->
<!--__                                                              -->
<!--__ When the Fortran interface is complete, replace this         -->
<!--__ section with the Fortran subroutine description.             -->
<!--__                                                              -->
<!--__ See the file h5fortran_f_insert.htm for a template and       -->
<!--__ instructions.                                                -->
<!--__ ***********************************************************  -->
  <p>


<!--__ *** SEE ALSO **********************************************  -->
<!--__ Provide links to related documentation in the following      --> 
<!--__ order:                                                       -->
<!--__     related function descriptions                            -->
<!--__     struct or ENUM descriptions                              -->
<!--__     callback or operator function descriptions               -->
<!--__     tool descriptions                                        -->
<!--__     user guide sections                                      -->
<!--__     other related documents or sections                      -->
<!--__                                                              -->
<!--__ Ask a member of the documentation team if you need help      -->
<!--__ identifying or locating references.                          -->
<!--__                                                              -->
<!--__ Edit the sample links provided, and delete unneeded text.    -->
<!--__ Use a <p> between types of documents.                        -->
<!--__ ***********************************************************  -->
  <p>
  <dt><strong>See Also:</strong>
    <dd><a href="RM_H5D.html#Dataset-Create">
        <code>H5Dcreate</code></a>,
        &nbsp;
        <a href="RM_H5T.html#Datatype-Commit">
        <code>H5Tcommit</code></a>
        <p>

        <a href="H5L/H5L_elink_traverse_t">
        <code>H5L_elink_traverse_t</code></a>
        <p>

        <a href="Tools.html#h5dump"><code>h5dump</code></a>
        <p>

        &ldquo;Discovering Objects in a Group&rdquo; in the
        &ldquo;<a href="../UG/UG_frame09Groups.html">Groups</a>&rdquo; 
        chapter of the
        <a href="../UG/index.html"><cite>HDF5 User&rsquo;s Guide</cite></a>


<!--__ *** HISTORY ***********************************************  -->
<!--__ Provide information about the HDF5 library version where the -->
<!--__ C function was first introduced, the Fortran subroutine was  -->
<!--__ first introduced, and when major changes to the function     -->
<!--__ or subroutine were made.                                     -->
<!--__                                                              -->
<!--__ Replace *.**.** below with the appropriate release number,   -->
<!--__ e.g., '1.10.4'.                                              -->
<!--__                                                              -->
<!--__ There are several minor variations on what you might need    -->
<!--__ to convey in the history section.  If you need assistance    -->
<!--__ or your task is not described, speak with Frank.             -->
<!--__ ***********************************************************  -->

<!--__ ***********************************************************  -->
<!--__ Do not modify the next 9 lines; they set up the table.       -->
<!--__ ***********************************************************  -->
  <p>
  <dt><strong>History:</strong>
    <dd><table width="90%">
        <tr>
          <td valign="top" align="left" width="10%">
            <strong>Release</strong>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td valign="top" align="left">
            <strong>Change</strong></td>
        </tr>

<!--__ ***********************************************************  -->
<!--__ If adding a new C functions, include the following 5 lines,  -->
<!--__ replacing '*.**.**' with the appropriate release number,     -->
<!--__ but otherwise without modification.                          -->
<!--__                                                              -->
<!--__ In each case below, use only the sections that apply.        -->
<!--__ ***********************************************************  -->
        <tr>
          <td valign="top">*.**.**</td>
          <td valign="top">
            C function introduced in this release.</td>
        </tr>

<!--__ ***********************************************************  -->
<!--__ If adding a new Fortran subroutine, include the following    -->
<!--__ 5 lines, replacing '*.**.**' with the appropriate release    -->
<!--__ number, but otherwise without modification.                  -->
<!--__ ***********************************************************  -->
        <tr>
          <td valign="top">*.**.**</td>
          <td valign="top">
            Fortran90 subroutine introduced in this release.</td>
        </tr>

<!--__ ***********************************************************  -->
<!--__ If describing a change to the signature or behavior of a     -->
<!--__ C function, include the following lines,                     -->
<!--__ replacing '*.**.**' with the appropriate release number      -->
<!--__ and editing the "in-this-way" text as appropriate.           -->
<!--__ ***********************************************************  -->
        <tr>
          <td valign="top">*.**.**</td>
          <td valign="top">
            C function changed in-this-way.</td>
        </tr>

<!--__ ***********************************************************  -->
<!--__ If describing a change to the signature or behavior of a     -->
<!--__ Fortran subroutine, include the following lines, replacing   -->
<!--__ '*.**.**' with the appropriate release number and editing    -->
<!--__ the "in-this-way" text as appropriate.                       -->
<!--__ ***********************************************************  -->
        <tr>
          <td valign="top">*.**.**</td>
          <td valign="top">
            Fortran90 subroutine changed in-this-way.</td>
        </tr>

<!--__ ***********************************************************  -->
<!--__ Do not modify the next 3 lines; they close the "History:"    -->
<!--__ table and the function entry.                                -->
<!--__ ***********************************************************  -->
        </tr>
        </table>
</dl>


