
<!--__ ** ENUM PARAMETER TEMPLATE ********************************  -->
<!--__ ** (H5parameter_enum_template.html) ***********************  -->
<!--__ Last Updated:  Oct 9, 2008                                   -->
<!--__                                                              -->
<!--__ This file provides templates for an ENUM parameter           -->
<!--__ description, supplementing the PARAMETERS section of         -->
<!--__ H5function_template.html.                                    -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                  TEMPLATE UNDER DEVELOPMENT                  -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->

