
<!--__ ** LONG PARAMETER DESCRIPTION TEMPLATE ********************  -->
<!--__ ** (H5param_long_insert.htm) ******************************  -->
<!--__ Last modified:  4 August 2009                                -->
<!--__                                                              -->
<!--__ This file provides a template for a parameter description    -->
<!--__ that is longer or more complex than usual, supplementing     -->
<!--__ the PARAMETERS section of H5function_entry.htm.              -->


<!--__ ** GENERAL INSTRUCTIONS -- Inserting a longer-than-usual  ** -->
<!--__ ** or more complex parameter description into a Reference ** -->
<!--__ ** description into a Reference Manual Entry.             ** -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                  TEMPLATE UNDER DEVELOPMENT                  -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->


