<--html>
<head>
<!--__ ** STRUCT ENTRY TEMPLATE (h5struct_template.html) ********** -->
<!--__ Last Updated:  Oct 8, 2008                                   -->
<!--__                                                              -->
<!--__ GENERAL INSTRUCTIONS                                         -->
<!--__                                                              -->
<!--__ This file provides a 'self-describing' template for          -->
<!--__ full struct descriptions in the HDF5 Reference Manual (RM).  -->
<!--__                                                              -->
<!--__ If you want to print this file and refer to it, the first    -->
<!--__ of the file has been modified so that some tools will open   -->
<!--__ the file and display this text.                              -->
<!--__ If that does not work, make a copy of the file, remove the   -->
<!--__ first 2 lines (the <html> and <head> tags), and open or      -->
<!--__ print the file.                                              -->
<!--__ If that still doesn't work, speak to Frank.                  -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                  TEMPLATE UNDER DEVELOPMENT                  -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->

