
<!--__ ** LONG PARAMETER DESCRIPTION TEMPLATE ********************  -->
<!--__ ** (H5parameter_long_template.html) ***********************  -->
<!--__ Last Updated:  Oct 8, 2008                                   -->
<!--__                                                              -->
<!--__ This file provides templates for a parameter description     -->
<!--__ that is longer or more complex than usual, supplementing     -->
<!--__ the PARAMETERS section of H5function_template.html.          -->


<!--__ ** GENERAL INSTRUCTIONS -- Inserting a longer-than-usual  ** -->
<!--__ ** or more complex parameter description into a Reference ** -->
<!--__ ** description into a Reference Manual Entry.             ** -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                  TEMPLATE UNDER DEVELOPMENT                  -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__                                                              -->


