
<!--__ ** ENUM PARAMETER TEMPLATE ********************************  -->
<!--__ ** (H5parameter_enum_template.htm) ************************  -->
<!--__ Last Updated:  March 10, 2009                                -->
<!--__                                                              -->
<!--__ This file provides a template for an ENUM parameter          -->
<!--__ description, supplementing the PARAMETERS section of         -->
<!--__ H5function_template.html.                                    -->
<!--__                                                              -->


<!--__ ** GENERAL INSTRUCTIONS -- Inserting an enum parameter    ** -->
<!--__ ** description into a Reference Manual Entry.             ** -->
<!--__                                                              -->
<!--__ This template provides a sample table row to describe        -->
<!--__ a struct parameter in the "Parameters:" section of a         -->
<!--__ reference manual entry.                                      -->
<!--__                                                              -->
<!--__ Insert only the lines of HTML code from the <tr> tag, which  -->
<!--__ starts the row, to the next </tr> tag, which ends the row.   -->
<!--__ The lines of HTML before and after those tags set up the     -->
<!--__ table and are already in the function description template.  -->
<!--__ Feel free to ask if you need assistance with the table.      -->


  <dt><strong>Parameters:</strong>
    <dd><table border=0>
<!--__ *** ENUMS *************************************************  -->
<!--__                                                              -->
<!--__ When the parameter type is an HDF5 ENUM, include a           -->
<!--__ high-level description of the ENUM, but provide a link       -->
<!--__ to the ENUM's HDF5 Reference Manual entry for the full       -->
<!--__ description.                                                 --> 
<!--__                                                              -->
<!--__ (Note to authors: Documentiung ENUMs in a separate RM entry  -->
<!--__ is a change from past practice.  ENUMs were previously       -->
<!--__ documented within function descriptions; since ENUMs are     -->
<!--__ often used in multiple functions, this practice has proven   -->
<!--__ error prone.)                                                -->
<!--__                                                              -->
<!--__ If only a subset of the ENUM's values are relevant to this   -->
<!--__ function, or if any of the ENUM values have special meaning  -->
<!--__ in the context of this function, explain that here.          -->
<!--__                                                              -->
<!--__ In a 'set' function, it is sometimes necessary to specify    -->
<!--__ which ENUM values have meaning in the context of the         -->
<!--__ function.                                                    -->
<!--__                                                              -->
<!--__ In a 'get' function, it is usually sufficent to direct the   -->
<!--__ user to the ENUM definition, stating that the ENUM values    -->
<!--__ are interpreted as described there.                          -->
<!--__ ***********************************************************  -->


<!--__ ***********************************************************  -->
<!--__ This description of the 'alloc_time' parameter from the      -->
<!--__ function H5Pset_alloc_time illustrates a value-by-value      -->
<!--__ description for a 'set' function.                            -->
<!--__ ***********************************************************  -->


      <tr valign="top">
        <td><em>H5D_alloc_time_t</em>&nbsp;<code>alloc_time</code>
        </td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>IN: Dataset storage space allocation time.
            <p>
            Valid values are as follows:
            <table border=0>
              <tr valign="top">
                <td><code>H5D_ALLOC_TIME_DEFAULT</code>&nbsp;&nbsp;</td>
                <td>Allocates dataset storage space at the default time.
                    <br> 
                    (Defaults differ by storage method.)
                    </td></tr>
              <tr valign="top">
                <td><code>H5D_ALLOC_TIME_EARLY</code></td>
                <td>Allocates all space when the dataset is created.
                    <br>
                    (Default for compact datasets.)
                    </td></tr>
              <tr valign="top">
                <td><code>H5D_ALLOC_TIME_INCR</code>&nbsp;&nbsp;</td>
                <td>Allocates space incrementally, 
                    as data is written to the dataset.
                    <br>
                    (Default for chunked storage datasets.)
                    <ul>
                      <li>Chunked datasets:  
                          Storage space allocation for each chunk is deferred 
                          until data is written to the chunk.  
                      <li>Contiguous datasets: 
                          Incremental storage space allocation for 
                          contiguous data is treated as late allocation.
                      <li>Compact datasets:  
                          Incremental allocation is not allowed with 
                          compact datasets; 
                          <code>H5Pset_alloc_time</code> will return an error.
                    </ul>
                    </td></tr>
              <tr valign="top">
                <td><code>H5D_ALLOC_TIME_LATE</code></td>
                <td>Allocates all space when data is first written to 
                    the dataset.
                    <br>
                    (Default for contiguous datasets.)
                    </td></tr>
            </table>
            <p>
            The <code><em>H5D_alloc_time_t</em></code> <small>ENUM</small>
            is fully described in <a href="../examples/H5D_alloc_time_t.html">
            <code>H5D_alloc_time_t.html</code></a>.
            </td></tr>


<!--__ ***********************************************************  -->
<!--__ This description of the 'alloc_time' parameter from the      -->
<!--__ function H5Pget_alloc_time illustrates the briefer           -->
<!--__ description used in a 'get' function.                            -->
<!--__ ***********************************************************  -->


      <tr valign="top">
        <td><em>H5D_alloc_time_t</em>&nbsp;<code>alloc_time</code>
        </td><td>&nbsp;</td>
        <td>IN: Dataset storage space allocation time.
            <p>
            The <code><em>H5D_alloc_time_t</em></code> <small>ENUM</small>
            is fully described in <a href="../examples/H5D_alloc_time_t.html">
            <code>H5D_alloc_time_t.html</code></a>;
            valid values for this parameter are described there.
            </td></tr>


    </table>
  <p>


