
<br />
<table align="center" width="600" cellpadding="5">
<tr >
<td style="background-color:#DDEEEE">
<hr color="green" size="3"/>
<h1 align="center">Tool Entry Template</h1>
<h1 align="center">with Comments</h1>
<p align="center"><b>A Template with Comments for HDF5 Tool Entries</b></p>

<hr color="green" size="3"/></td></tr>
</table>
<br />
<br />
<br />



<table align="center" width="600" cellpadding="5" >
<tr >
<td style="background-color:#DDEEEE">
<hr color="green" size="3"/>

<p><b>Introduction</b></p>

<p>The purpose of this file is to describe the information that should 
be included in an HDF5 tool entry. If you 
have questions about writing a tool entry, you can use this file as a 
template. </p>

<p>In this file, you will find an element such as Tool Name or Syntax and a 
short instruction. After each instruction, more information on the element 
will appear in a light blue comment block. Light green comment blocks 
such as this one have general comments that describe how to use this
file.</p>

<p>Start with the directions in the green comment block below.</p>

<hr color="green" size="3"/></td></tr>
</table>
<br />



<table align="center" width="600" cellpadding="5">
<tr >
<td style="background-color:#DDEEEE">
<hr color="green" size="3"/>
<p><b>Directions</b></p>

    <ul>
    <li>Copy this file, and rename the copied file as tool_name.htm 
        where tool_name is the name of the tool.</li>
    <li>Edit the new file. In each of the sections shown below, 
        replace the instruction sentence with the appropriate information.</li> 
    <li>When you are finished, remove the comment blocks, and then 
        send a copy to the Doc Team for final editing and publishing.</li>
    </ul>
<hr color="green" size="3"/></td></tr>
</table>
<br />



<table align="center" width="600" cellpadding="5" >
<tr >
<td style="background-color:#DDEEEE">
<hr color="green" size="3"/>

<p><b>Contents</b></p>

<p>The elements in the template are:</p>
  <ul>
    <li><a href="#Copyright">Copyright</a></li>
    <li><a href="#PdfGeneratorStatements">PDF Generator Statements</a></li>
    <li><a href="#LastModifiedDate">Last Modified Date</a></li>
    <li><a href="#ToolName">Tool Name</a></li>
    <li><a href="#Syntax">Syntax</a></li>
    <li><a href="#Purpose">Purpose</a></li>
    <li><a href="#Motivation">Motivation</a></li>
    <li><a href="#Description">Description</a></li>
    <li><a href="#OptionsAndParameters">Options and Parameters</a></li>
    <li><a href="EnvironmentVariables">Environment Variables:</a></li>
    <li><a href="#ExampleUsage">Example Usage</a></li>
    <li><a href="#SeeAlso">See Also</a></li>
    <li><a href="#History">History</a></li>
  </ul>


<hr color="green" size="3"/></td></tr>
</table>
<br />



<table align="center" width="600" cellpadding="5" >
<tr >
<td style="background-color:#DDEEEE">
<hr color="green" size="3"/>

<p><b>Other Useful Files</b></p>

<p>In order for the links in this file to work, the following files 
should be checked out or downloaded to the same directory as this file. 
These files are associated with this template only. </p>
<ul>
  <li>
    <a href="h5repack_Example.htm">h5repack_Example.htm</a>
    </li>
  <li>
    <a href="h5stat_Example.htm">h5stat_Example.htm</a>
    </li>
</ul>

<p>To see the tool entry template elements without comments, 
go to the <a href="h5tool_entry.htm">h5tool_entry.htm</a> file.</p>

<p>A helper script is a command-line tool that can help you compile 
an application. There are helper scripts for the compiling of 
applications written in C, C++, and Fortran in both serial and 
parallel environments. The entries that describe these helper scripts 
follow the pattern of other tool entries with a few minor 
variations. An example of an HDF5 tool helper script is 
<a href="h5cc_and_h5pcc_Example.htm">h5cc_and_h5pcc_Example.htm</a>.

<hr color="green" size="3"/></td></tr>
</table>
<br />



<table align="center" width="600" cellpadding="5" >
<tr >
<td style="background-color:#DDEEEE">
<hr color="green" size="3"/>

<p><b>Variables</b></p>

<p>In some of the descriptions, a variable has been used instead of a 
specific item. These variables are generic phrases and are enclosed with 
angle quotation marks. One of the variables is 
&laquo;<code>h5tool_name</code>&raquo;. Replace the variable with the 
name of the tool. </p>

<hr color="green" size="3"/></td></tr>
</table>
<br />



<table align="center" width="600" cellpadding="5" >
<tr >
<td style="background-color:#DDEEEE">
<hr color="green" size="3"/>

<p><b>Tool Entry Files</b></p>

<p>Each tool entry is kept in a separate file. When the 
<i>HDF5 Reference Manual</i> is published, the files are combined. To 
help the combining process, we use a .htm extension on the file names, 
and we do not include the &#60;html&#62; and &#60;body&#62; tags at the 
beginning and end of each file.
</p>

<hr color="green" size="3"/></td></tr>
</table>
<br />



<table align="center" width="600" cellpadding="5" >
<tr >
<td style="background-color:#DDEEEE">
<hr color="green" size="3"/>

<p><b>Word vs. HTML</b></p>

<p>We would rather you used HTML. If you are not comfortable using 
HTML, use Word.</p>

<hr color="green" size="3"/></td></tr>
</table>
<br />



<table align="center" width="600" cellpadding="5" >
<tr >
<td style="background-color:#DDEEEE">
<hr color="green" size="3"/>

<p><b>Editing with HTML</b></p>

<p>This file can be edited with any HTML editor. Oxygen is a good one, 
and there is an HTML editor in Visual Studio. If you are familiar with 
HTML, you could use a plain text editor.</p>

<p>If possible, keep the length of each line to less than 80 characters.
</p>

<p>To add a comment to an HTML file, you could use the orange 
comment block shown below. Copy the block to a space near the text 
you want to comment about, replace the optional 
&laquo;HTML_comment_block_title&raquo; variable with your title, and 
replace the 
&laquo;Insert_comments_here&raquo; variable with your comments. The 
orange comment block is kept in a table. When you copy the block, 
include the beginning and ending table tags.</p>

<hr color="green" size="3"/></td></tr>
</table>
<br />



<table align="center" width="600" cellpadding="5" >
<tr >
<td style="background-color:#FFCC80">
<hr color="green" size="3"/>

<p><b>&laquo;HTML_comment_block_title&raquo;</b></p>

<p>&laquo;Insert_comments_here&raquo;</p>



<hr color="green" size="3"/></td></tr>
</table>
<br />



<table align="center" width="600" cellpadding="5">
<tr >
<td style="background-color:#DDEEEE">
<hr color="green" size="3"/>
<p><b>For More Information</b></p>

<p>If you have questions about the information you should include 
in each section in this template, talk with the Doc Team.</p>

<p>This template and related files can be found in SVN in the doc
repository at 
<a href="https://svn.hdfgroup.uiuc.edu/hdf5doc/trunk/hdf5doc_support/templates">
https://svn.hdfgroup.uiuc.edu/hdf5doc/trunk/hdf5doc_support/templates</a>.</p>

<p>In Confluence, more information for writing documentation can be 
found on the 
<a href="https://confluence.hdfgroup.uiuc.edu/display/TECHDOC/Dev+Doc+Start">
Dev Doc Start</a> page.</p>

<p>The latest version of <i>HDF5 Tools</i> is at 
<a href="http://www.hdfgroup.org/HDF5/doc/RM/Tools.html">
http://www.hdfgroup.org/HDF5/doc/RM/Tools.html</a>.</p>

<hr color="green" size="3"/></td></tr>
</table>
<br />
<br />
<br />



<table align="center" width="600" cellpadding="5" >
<tr >
<td style="background-color:#CADFFF">
<hr color="orange" size="3"/>
<p><b><a name="Copyright">Copyright</a></b></p>

<p>At the beginning of each file that holds a tool entry is a 
commented out copyright statement. To see the copyright statement in 
this file, view the file with an editor or view the page source 
from a browser. The statement included in this template is 
appropriate for HDF5 software. See the 
<a href="https://confluence.hdfgroup.uiuc.edu/display/TECHDOC/Copyrights">
Copyrights</a> page in Confluence for more information.</p>


<hr color="orange" size="3"/></td></tr>
</table>
<br />



<!--
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  * Copyright by The HDF Group.                                               *
  * Copyright by the Board of Trustees of the University of Illinois.         *
  * All rights reserved.                                                      *
  *                                                                           *
  * This file is part of HDF5.  The full HDF5 copyright notice, including     *
  * terms governing use, modification, and redistribution, is contained in    *
  * the files COPYING and Copyright.html.  COPYING can be found at the root   *
  * of the source code distribution tree; Copyright.html can be found at the  *
  * root level of an installed copy of the electronic HDF5 document set and   *
  * is linked from the top-level documents page.  It can also be found at     *
  * http://hdfgroup.org/HDF5/doc/Copyright.html.  If you do not have          *
  * access to either file, you may request a copy from help@hdfgroup.org.     *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
-->



<table align="center" width="600" cellpadding="5" >
<tr >
<td style="background-color:#CADFFF">
<hr color="orange" size="3"/>
<p><b><a name="PdfGeneratorStatements">PDF Generator Statements</a></b></p>

<p>After the copyright statement are a few more commented out sentences. 
These sentences are used by the program we use to generate PDF files. </p>
<ul>
    <li>The &ldquo;NEW PAGE&rdquo; line should be left as it is. </li>
    <li>Change the &ldquo;HEADER RIGHT&rdquo; line: replace the 
        &laquo;<code>h5tool_name</code>&raquo; variable with the name 
        of the tool being described in this entry.</li>
</ul>

<hr color="orange" size="3"/></td></tr>
</table>
<br />
<br />
<br />



<!--__ ***********************************************************  -->
<!--__ Do not alter the next line; it is used by the PDF generator. -->
<!--__ ***********************************************************  -->
<!-- NEW PAGE -->


<!--__ *** HEADER RIGHT ******************************************  -->
<!--__ Update h5tool_name; leave remainder of line unchanged        -->
<!--__ as it is also used by the PDF generator.                     -->
<!--__ ***********************************************************  -->
<!-- HEADER RIGHT "h5tool_name" -->
<hr>
<dl>

<dt><div align=right><font color=999999 size=-1><i>
      <a name="LastModifiedDate">
      Last modified: &laquo;day_month_year&raquo;
      </a></i></font></div></dt>
      <dd>Insert the date on which the latest changes were made.</dd>
      <br />

    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>Last Modified Date</b></p>
    
    <p>The horizontal gray line above the Last Modified Date appears 
    at the top of each tool entry.</p>
    
    <p>At the top right of each entry under the gray line, we record the date 
    on which the entry was last changed.</p> 
    <p>Replace &laquo;day_month_year&raquo; with today&rsquo;s date. </p>
    <p>The following is an example.</p>
    <blockquote>12 October 2012</blockquote>
    
    
    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />
    <br />
    <br />



  <dt><strong><a name="ToolName">Tool Name:</a></strong> 
  <a name="Tools-ToolName">&laquo;<code>h5tool_name</code>&raquo;</a></dt>
    <dd>Replace &laquo;<code>h5tool_name</code>&raquo; with the name 
    of the tool.</dd>
    <br />

    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>Tool Name</b></p>
    
    <p>In the Tool Name section, we specify the name of the tool.</p> 
    
    <p>Replace &laquo;<code>h5tool_name</code>&raquo; with the name of 
    the tool.</p>
    
    <p>Two examples are 
    <a href="h5repack_Example.htm">h5repack_Example.htm</a> and 
    <a href="h5stat_Example.htm">h5stat_Example.htm</a>.</p>
    
    <p>The name of the tool is also used as the name of the file 
    that holds the entry. For the <code>h5repack</code> tool entry, 
    the file is named h5repack.htm.</p>
    
    <p>The &laquo;<code>h5tool_name</code>&raquo; variable is enclosed 
    in an HTML anchor tag. This tag will be the target of links from 
    other HDF5 documents. Change the value of the name attribute to 
    the name of the tool. If the tool name is <code>h5repack</code> 
    for example, then change the value of the name attribute from 
    Tools-ToolName to Tools-h5repack.</p>

    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />
    <br />
    <br />



  <dt><strong><a name="Syntax">Syntax:</a></strong></dt>
    <dd>Insert the command-line syntax here.</dd>
    
    <br />
    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>Syntax</b></p>
    
    <p>In the Syntax section, we specify the command-line syntax for the tool.</p> 
    
    <p>HDF5 tools use the following general pattern:</p>
    <p><code>h5tool_name [OPTIONS] <em>first_parameter</em> 
    <em>second_parameter</em> <em>last_parameter</em></code></p>
    <p>where</p>
    <p><code>h5tool_name</code> is the name of the tool,</p>
    <p>OPTIONS are the available command-line arguments, </p>
    <p> and the parameters are the available parameters.</p> 

    <p>The OPTIONS are the actions that the tool will take when 
    the command-line is executed.</p>
    
    <p>The parameters are usually the file(s) or object(s) that the 
    tool will use for input or output or that the tool will act on. </p>
    
    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />



    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>Syntax Examples</b></p>
    
    <p>The table below shows some specific examples.</p>
    
    <table align="center" width="90%" border="1" cellpadding="5">
    <tr>
    <td valign="top"><b>Tool</b>
    </td>
    <td valign="top"><b>Command-Line Syntax</b>
    </td>
    </tr>
    
    <tr>
    <td valign="top"><code>h5stat</code>
    </td>
    <td valign="top"><code>h5stat <i>[OPTIONS] file</i></code>
    </td>
    </tr>
    
    <tr>
    <td valign="top"><code>h5repack</code>
    </td>
    <td valign="top"><code>h5repack <i>[OPTIONS] in_file out_file</i></code>
    </td>
    </tr>
    
    <tr>
    <td valign="top"><code>h5import</code>
    </td>
    <td valign="top"><code>h5import <i>infile in_options 
    [infile in_options ...] -outfile outfile</i></code>
    </td>
    </tr>
    
    </table>
    
    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />
    <br />
    <br />



  <dt><strong><a name="Purpose">Purpose:</a></strong></dt>
    <dd>Describe in this section what the tool accomplishes in a 
    one-line statement that begins with a verb.</dd>
    <br />



    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>Purpose</b></p>
    
    <p>In the Purpose section, we state what the function accomplishes
    when it is used. </p>
    
    <p>Like a dictionary definition, we are looking for a clear and 
    concise statement.</p>
    
    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />
    
    
    
    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>Writing a Purpose Statement</b></p>
    
    <p>The following are some qualities of a good purpose statement.</p>
    
    <ul>
    <li><p>Start with a verb. We write the purpose statement as a 
    sentence that starts with a verb. A more complete sentence might 
    start with a subject, but for purpose statements, the subject would 
    always be &ldquo;This tool ....&rdquo; Instead of 
    &ldquo;This tool gets/retrieves/sets/writes ....&rdquo;, 
    we cut out the subject and are left with 
    &ldquo;Gets/Retrieves/Sets/Writes ....&rdquo;</p>
    
    <p>Preferred verbs include the following: 
    <ul>
        <li>Creates</li>
        <li>Converts</li>
        <li>Compares</li>
        <li>Tests</li>
    </ul></p></li>
    
    <li><p>Add useful details while keeping the statement short. In 
    many cases, a bit of elaboration at the end of the sentence 
    will help. For example, the first line in each pair 
    below is more informative than the second. </p>
    <ol>
        <li>Converts a GIF file to an HDF5 file.</li>
        <li>Converts a GIF file.</li>
    </ol>
    <br />
    <ol>
        <li>Creates a dataset at a specified location.</li>
        <li>Creates a dataset.</li>
    </ol>
    <br />
    <ol>
        <li>Helper script to compile HDF5 C++ applications.</li>
        <li>Helper script to compile HDF5 applications.</li>
    </ol>
    </li></ul>

    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />
    
    
    
    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>Example Purpose Statements</b></p>
    
    <p>The table below shows some specific examples.</p>
    
    <table align="center" width="90%" border="1" cellpadding="5">
    <tr>
    <td valign="top"><b>Tool</b>
    </td>
    <td valign="top"><b>Purpose Statement</b>
    </td>
    </tr>
    
    <tr>
    <td valign="top"><code>h5stat</code>
    </td>
    <td valign="top">Reports statistics about an HDF5 file and its 
    objects. 
    </td>
    </tr>
    
    <tr>
    <td valign="top"><code>h5repack</code>
    </td>
    <td valign="top">Copies an HDF5 file to a new file with or without 
    compression and/or chunking. 
    </td>
    </tr>
    
    <tr>
    <td valign="top"><code>h5import</code>
    </td>
    <td valign="top">Imports data into an existing or new HDF5 file. 
    </td>
    </tr>
    
    <tr>
    <td valign="top"><code>h5check</code>
    </td>
    <td valign="top">Verifies that an HDF5 file is encoded according to 
    the HDF5 specification. 
    </td>
    </tr>
    </table>
    
    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />
    <br />
    <br />



  <dt><strong><a name="Motivation">Motivation:</a></strong></dt>
    <dd>Tell the reader in this section why they might want to use this 
    tool.</dd>
    
    <br />



    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>Motivation</b></p>
    
    <p>A Motivation section can help a user understand better why 
    the tool might be used, can help a user understand the types 
    of problems the tool addresses, or can help a user choose to 
    use one tool instead of another. This is the section where the 
    use cases can be described.</p>
    
    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />
    
    
    
    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>Writing a Motivation Statement</b></p>
    
    <p>The following is a general way of writing a tool&rsquo;s 
    motivation.</p>
    
    <blockquote>
    &laquo;<code>h5tool_name</code>&raquo; is used in these 
    circumstances to achieve these things and/or to address these 
    problems. 
    </blockquote>
    
    <p>Keep the motivation statement concise and high-level, but use 
    multiple paragraphs if needed.</p>
    
    <p>See the examples below.</p>
    
    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />



    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>Example Motivations</b></p>
    
    <p>The table below shows some specific examples.</p>
    
    <table align="center" width="90%" border="1" cellpadding="5">
    <tr>
    <td valign="top"><b>Tool</b>
    </td>
    <td valign="top"><b>Motivation Statement</b>
    </td>
    </tr>
    
    <tr>
    <td valign="top"><code>h5check</code>
    </td>
    <td valign="top"><p><code>h5check</code> is a validation tool designed 
    to verify that an HDF5 file is encoded according to the 
    <cite>HDF5 File Format Specification</cite></a>.  The purpose is to 
    ensure data model integrity and long-term compatibility between 
    evolving versions of the HDF5 Library.</p>
    
    <p>Independent Verification Tool:</p>
    <p>Note that <code>h5check</code> is designed to operate independently 
    of the HDF5 Library:</p>
    <ul>
        <li>It verifies the validity of an HDF5 file directly against 
        the <cite>HDF5 File Format Specification</cite> without reference 
        to or any use of the HDF5 Library.</li>
        <li><code>h5check</code> is distributed separately; see &ldquo;
        <a href="http://www.hdfgroup.org/products/hdf5_tools/index.html">HDF5 
        Tools and Software</a>.&rdquo;</li>
    </ul>
    </td>
    </tr>
    
    <tr>
    <td valign="top"><code>h5fix_swapped_ids</code>
    </td>
    <td valign="top"><p><code>h5fix_swapped_ids</code> corrects a metadata 
    corruption error that manifests as incorrect encoding of fractal 
    heap identifiers for attributes and shared object header messages. 
    This error occurs only in particular circumstances and causes some 
    files created on a big-endian system to be unreadable on a 
    little-endian system.</p>
    
    <p><code>h5fix_swapped_ids</code> corrects the incorrect encoding.</p>
    
    <p>This error existed in HDF5 Releases 1.8.0 through 1.8.4; it was fixed 
    in HDF5 Release 1.8.4-patch1.</p>
    </td>
    </tr>
    
    </table>
    
    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />
    
    
    
    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>Comparing Purpose and Motivation</b></p>
    
    <p>The aim of a purpose statement is to describe what a tool 
    will acomplish when it is used. The aim of a motivation statement 
    is to describe why a tool might be used. A purpose statement 
    should be short. A motivation statement will usually be longer than 
    a purpose statement. To illustrate the differences, the purpose and 
    motivation statements for <code>h5check</code> and 
    <code>h5fix_swapped_ids</code> are shown below.</p>
    
    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />
    
    
    
    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b><code>h5check</code></b></p>
    
    <p>The purpose and motivation statements for <code>h5check</code> 
    are shown below:</p>
    
    <blockquote>
    <p><b>Purpose:</b></p>
    <p>Verifies that an HDF5 file is encoded according to the HDF5 
    specification.</p>
    
    <p><b>Motivation:</b></p>
    <p><code>h5check</code> is a validation tool designed to verify that 
    an HDF5 file is encoded according to the <cite>HDF5 File Format 
    Specification</cite></a>.  The purpose is to ensure data model 
    integrity and long-term compatibility between evolving versions of 
    the HDF5 Library.</p>
    
    <p>Independent Verification Tool:</p>
    <p>Note that <code>h5check</code> is designed to operate independently 
    of the HDF5 Library:</p>
    <ul>
        <li>It verifies the validity of an HDF5 file directly against 
        the <cite>HDF5 File Format Specification</cite> without reference 
        to or any use of the HDF5 Library.</li>
        <li><code>h5check</code> is distributed separately; see &ldquo;
        <a href="http://www.hdfgroup.org/products/hdf5_tools/index.html">HDF5 
        Tools and Software</a>.&rdquo;</li>
    </ul>    
    </blockquote>
    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />
    
    
    
    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b><code>h5fix_swapped_ids</code></b></p>
    
    <p>The purpose and motivation statements for 
    <code>h5fix_swapped_ids</code> are shown below:</p>
    
    <blockquote>
    <p><b>Purpose:</b></p>
    <p>Fixes files with fractal heap identifier encoding errors.</p>
    
    <p><b>Motivation:</b></p>
    <p><code>h5fix_swapped_ids</code> corrects a metadata corruption 
    error that manifests as incorrect encoding of fractal heap 
    identifiers for attributes and shared object header messages. This 
    error occurs only in particular circumstances and causes some files 
    created on a big-endian system to be unreadable on a little-endian 
    system.</p>
    
    <p><code>h5fix_swapped_ids</code> corrects the incorrect encoding.</p>
    
    <p>This error existed in HDF5 Releases 1.8.0 through 1.8.4; it was 
    fixed in HDF5 Release 1.8.4-patch1.</p>    
    </blockquote>
    
    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />
    <br />
    <br />



  <dt><strong><a name="Description">Description:</a></strong></dt>
    <dd>In this section, provide a more detailed description of the 
    tool and instructions for its use.
    </dd>
    <br />
    
    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>Description</b></p>
    
    <p>In the Description section, we explain in more detail how the 
    tool works and how to use the tool. The tool&rsquo;s 
    parameters can be briefly mentioned.</p>
    
    <p>In general, parameters should be discussed in the 
    &ldquo;Parameters and Options:&rdquo; section below. 
    &ldquo;Parameters and Options:&rdquo; 
    will include their complete descriptions and possible values. 
    Important groupings of or relationships among parameters and 
    interactions among parameters can be discussed either here or in 
    &ldquo;Parameters and Options:&rdquo;; the determining factor is 
    ease of user understanding.</p>
    
    <p>Things that may not be obvious but that are important for 
    correct use of the function should be discussed here. 
    These include observations, caveats, special instructions, and 
    warnings. The reader should never have to look at the 
    source code or tests to figure these things out.</p>
    
    
    
    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />



    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>Writing a Description</b></p>
    
    <p>Start the text in the Description section in the following 
    pattern:</p>
    
    <p>&laquo;tool_name&raquo; &laquo;verb&raquo; &laquo;what is compared, 
    created, or verified&raquo;</p>
    
    <p>where
    
    <p>&laquo;tool_name&raquo; is the name of the tool, </p>
    
    <p>&laquo;verb&raquo; is the action the tool does,</p>
    
    <blockquote>
    Commonly used verbs include creates, converts, copies, updates, 
    verifies, dumps, compares, tests, and prints.
    </blockquote>
    
    <p>and &laquo;what is compared, created, or verified&raquo; is 
    the rest of the first sentence and describes what is compared, 
    created, or verified.</p> 
    
    <p>The other sentences and paragraphs in the section will expand 
    upon this first sentence.</p>
    
    <p>See the examples below.</p>

    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />



    
    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>Description Examples</b></p>
    
    <p>Some sample descriptions are included below. The tool 
    name is followed by its description.</p>
    
    <table align="center" width="90%" border="1" cellpadding="5">
    <tr>
    <td valign="top"><b>Tool</b>
    </td>
    <td valign="top"><b>Description</b>
    </td>
    </tr>
    
    <tr>
    <td valign="top"><code>h5ls</code>
    </td>
    <td valign="top">
        <p><code>h5ls</code> prints selected information about 
        specified HDF5 file(s) and/or object(s) 
        in the specified format.  In some cases, 
        information regarding symbolic links is also provided.
    </td>
    </tr>
    
    <tr>
    <td valign="top"><code>h5copy</code>
    </td>
    <td valign="top">
        <p><code>h5copy</code>&nbsp; copies an HDF5 object (a dataset, 
        committed (named) datatype, or group) from an input HDF5 file 
        to an output HDF5 file.</p>
        <p>If a group is specified as the input object, any objects in 
        that group will be recursively copied.</p>
        <p>The output file may or may not already exist. </p>
        <p><code>h5copy</code> will fail if the destination object name 
        already exists.</p>
    </td>
    </tr>
    </table>
    
    
    
    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />
    
    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>Notes and Warnings</b></p>
    
    <p>If there is a risk of data corruption, silent failure, or 
    unintended consequences that might go unnoticed, consider adding a 
    <b>Note:</b> or <b>Warning:</b> lead-in to a paragraph.  In general, 
    such notes should come at the end of the 
    &ldquo;Description:&rdquo; section.</p>
    
    <p>The table below lists tools and their warning or note.</p>
    
    
    <table align="center" width="90%" border="1" cellpadding="5">
    <tr>
    <td valign="top"><b>Tool</b>
    </td>
    <td valign="top"><b>Warning or Note</b>
    </td>
    </tr>
    
    <tr>
    <td valign="top"><code>h5fix_swapped_ids</code>
    </td>
    <td valign="top">
        <b>Warning:</b> As stated above, there is no definitive way to 
        determine whether a specific file is corrupted. You can only 
        determine (a) whether a file is in a class of files that is subject to 
        this corruption and (b) whether it is probably corrupted. 
        It is therefore critical to verify that <em>new_file</em> 
        has indeed been fixed before discarding <em>old_file</em>.    </td>
    </tr>
    
    <tr>
    <td valign="top"><code>h4toh5</code>
    </td>
    <td valign="top">
        <b>Note:</b> The <code>h4toh5</code> and <code>h5toh4</code> 
        utilities are no longer part of the HDF5 product; they are 
        distributed separately through the page 
        <a href="http://www.hdfgroup.org/h4toh5/">
        Converting between HDF (4.x) and HDF5</a>.
    </td>
    </tr>
    </table>
    
    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />
    <br />
    <br />



  <dt><strong><a name="OptionsAndParameters">Options and Parameters:
  </a></strong>
  </dt>
    <dd>List and define in this section the options and parameters used by the 
    tool.</dd>
    <br />

    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>Options and Parameters</b></p>
    
    <p>We use options and parameters to control how the tool works and 
    what the tool works on. With various options, we can specify the 
    action that the tool might take. With parameters, we can specify 
    the file(s) or object(s) that the tool will use for input or output 
    or that the tool will act on. The available options and parameters 
    can be described in the sub-sections below.</p>
    
    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />
    
    
    
    <dd><strong>Options:</strong></dd>
    <dd>List and describe the command-line options in this sub-section.</dd>
    <br />
    
    
    
    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>Options</b></p>
    
    <p>We use options to control how the tool works. With various options, 
    we can specify the action that the tool might take. </p>
    
    <p>Options can have short and long formats. The short format is a 
    dash and a single letter. The long format has two dashes and a word. 
    The table below shows how to display the available options via some 
    general cases.</p>
    
    <table width="90%" align="center" border="1" cellpadding="5">
        <tr>
          <td valign="top" align="left" width="25%">
            <strong>Short</strong></td>
          <td valign="top" align="left" width="40%">
            <strong>Long</strong></td>
          <td valign="top" align="left" width="35%">
            <strong>Comments</strong></td>
        </tr>
        <tr>
          <td valign="top" align="left">
          -&laquo;s&raquo;</td>
          <td valign="top" align="left">
          &nbsp;</td>
          <td valign="top" align="left">
          Short options use a dash with a single character.</td>
        </tr>

        <tr>
          <td valign="top" align="left">
          -&laquo;s&raquo; &laquo;variable&raquo;</td>
          <td valign="top" align="left">
          &nbsp;</td>
          <td valign="top" align="left">
          Short options may also have variables.</td>
        </tr>

        <tr>
          <td valign="top" align="left">
          &nbsp;</td>
          <td valign="top" align="left">
          --&laquo;long&raquo;</td>
          <td valign="top" align="left">
          Long options use two dashes and a word. Multiple words
          can be linked with underscores.</td>
        </tr>

        <tr>
          <td valign="top" align="left">
          &nbsp;</td>
          <td valign="top" align="left">
          --&laquo;long&raquo; &laquo;variable&raquo;</td>
          <td valign="top" align="left">
          Long options may also have variables.</td>
        </tr>
        </table>    
    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />
    


    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>Option Examples</b></p>
    
    <p>Some examples of command-line options are shown in the table
    below</p>
    
    <table width="90%" align="center" border="1" cellpadding="5">

        <tr>
          <td valign="top" align="left" width="25%">
            <strong>Short</strong></td>
          <td valign="top" align="left" width="40%">
            <strong>Long</strong></td>
          <td valign="top" align="left" width="35%">
            <strong>Comments</strong></td>
        </tr>

        <tr>
          <td valign="top" align="left">
          -h</td>
          <td valign="top" align="left">
          --help</td>
          <td valign="top" align="left">
          This commonly used option will tell the tool to print a 
          usage message and then exit.</td>
        </tr>
        <tr>
          <td valign="top" align="left">
          -v</td>
          <td valign="top" align="left">
          --verbose</td>
          <td valign="top" align="left">
          This commonly used option will tell the tool to print verbose 
          output.</td>
        </tr>
        <tr>
          <td valign="top" align="left">
          -l</td>
          <td valign="top" align="left">
          --long_option</td>
          <td valign="top" align="left">
          This option will list the short forms of the tool&rsquo;s 
          options and the long forms if there are any.</td>
        </tr>

        <tr>
          <td valign="top" align="left">
          -G</td>
          <td valign="top" align="left">
          --groupmetadata</td>
          <td valign="top" align="left">
          This option is used with <code>h5stat</code> and will retrieve 
          file space information for group metadata.
          </td>
        </tr>

        <tr>
          <td valign="top" align="left">
          -S &laquo;fs_strategy&raquo;</td>
          <td valign="top" align="left">
          --fs_strategy= &laquo;fs_strategy&raquo;</td>
          <td valign="top" align="left">
          This option is used with <code>h5repack</code> and will 
          specify the file space management strategy that will be 
          used for the output file.</td>
        </tr>

    </table>    
    
    <p>See the entries for the 
    <a href="h5repack_Example.htm"><code>h5repack</code></a> and 
    <a href="h5stat_Example.htm"><code>h5stat</code></a> tools for more 
    examples of how options might be used. Note the variety 
    of options. </p>
    
    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />
    <br />
    <br />
    
    <dd><strong>Parameters:</strong></dd>
    <dd>List and describe the parameters in this sub-section.</dd>
    <br />
    
    
    
    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>Parameters</b></p>
    
    <p>We use parameters to control what the tool works on. With 
    parameters, we can specify the file(s) or object(s) that the tool 
    will use for input or output or that the tool will act on. </p>
    
    <p>The following are the kinds of variables that might be used 
    as parameters:</p>
    <ul>
        <li>&laquo;file&raquo;</li>
        <li>&laquo;in_file&raquo;</li>
        <li>&laquo;out_file&raquo;</li>
        <li>&laquo;group_name&raquo;</li>
        <li>&laquo;object&raquo;</li>
    </ul>
    
    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />
    <br />
    <br />



    <dt><strong><a name="ExitStatus">Exit Status:</a></strong></dt>
    <dd>List in this section what the exit status values. </dd>
    <br />

    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>Exit Status</b></p>
    
    <p>In this section, we describe the exit status values.</p>
    
    <p>The most commonly used exit status values are the following: </p>
    
    <blockquote>
    <table border=0>
        <tr valign=top align=left>
            <td>0</td>
            <td>Succeeded.</td>
        </tr>
        <tr valign=top align=left>
            <td>&gt;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>An error occurred.</td>
        </tr>
    </table>

    </blockquote>
    
    <p>The exit status values for <code>h5diff</code> are shown below:</p>
    
    <blockquote>
        <table border=0>
        <tr valign=top align=left>
            <td>0</td>
            <td>No differences were found.</td>
            </tr>
        <tr valign=top align=left>
            <td>1</td>
            <td>Some differences were found.</td>
            </tr>
        <tr valign=top align=left>
            <td>&gt;1&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>An error occurred.</td>
            </tr>
    </table>
    </blockquote> 
    
    <p>The exit status values for <code>h5check</code> are shown 
    below:</p>
    
    <blockquote>
        <table width=100%>
        <tr><td valign=top align=left width=10%>
            0
            </td><td valign=top align=left>
            Succeeded.
            </td></tr>
        <tr><td valign=top align=left>
            1
            </td><td valign=top align=left>
            Command failures, such as argument errors.
            </td></tr>
        <tr><td valign=top align=left>
            2
            </td><td valign=top align=left>
            Format compliance errors found.
            </td></tr>
        </table>

    </blockquote> 
    
    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />
    <br />
    <br />



    <dt><strong><a name="EnvironmentVariables">Environment 
    Variables:</a></strong></dt>
    
    <dd>Insert in this section any environment variables that are 
    needed for the tool to run. </dd>
    <br />
    
    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>Environment Variables</b></p>
    
    <p>In this section, we list any environment variables that the tool 
    may need. This section has only been used so far by tools that aid 
    in the compiling of applications. </p>
    
    <p>See the entries for these tools for more information: 
    <code>h5cc</code>, <code>h5pcc</code>, <code>h5fc</code>, 
    <code>h5pfc</code>, and <code>h5c++</code>.</p>
    
    <hr color="orange" size="3"/></td></tr>
    </tr>
    </table>
    <br />    
    
    
    
    
    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>Environment Variables Example</b></p>
    
    <p>The &ldquo;Environment Variables&rdquo; section for the 
    <code>h5cc</code> and <code>h5pcc</code> tools are shown below 
    as an example.</p>
    
    <blockquote>
    <p>When set, these environment variables override some of the built-in
    <code>h5cc</code> and <code>h5pcc</code> defaults.</p>
    <table align="center" width="90%" >
        <tr>
            <td valign="top" width="50%"><code>HDF5_CC</code></td>
            <td valign="top" width="50%">Use a different C compiler.</td></tr>
        <tr>
            <td valign="top"><code>HDF5_CLINKER</code></td>
            <td valign="top">Use a different linker.</td></tr>
        <tr>
            <td valign="top"><code>HDF5_USE_SHLIB=[yes|no]&nbsp;&nbsp;&nbsp;&nbsp;</code></td>
            <td valign="top">Use shared version of the HDF5 library 
                [default: no].</td></tr>
        <tr>
            <td valign="top"><code>HDF5_CPPFLAGS</code></td>
            <td valign="top">Use additional preprocessor flags.</td></tr>
        <tr>
            <td valign="top"><code>HDF5_CFLAGS</code></td>
            <td valign="top">Use additional C compiler flags.</td></tr>
        <tr>
            <td valign="top"><code>HDF5_LDFLAGS</code></td>
            <td valign="top">Use additional library paths.</td></tr>
        <tr>
            <td valign="top"><code>HDF5_LIBS</code></td>
            <td valign="top">Use additional libraries.</td></tr>
        </table>
    
    <p>The last four of these environment variables have corresponding 
    variables with names ending in <code>BASE</code> that can also be 
    set by editing their values in the &ldquo;Things You Can Modify to Override 
    HDF5 Library Build Components&rdquo; section of the <code>h5cc</code> and 
    <code>h5pcc</code> scripts.</p>
    
    <p>Note that adding library paths to <code>HDF5_LDFLAGS</code> 
    where another HDF5 version is located may link your program 
    with that other HDF5 Library version.</p>
    </blockquote>
    <hr color="orange" size="3"/></td></tr>
    </table>

    <br />    
    <br />    
    <br />    



  <dt><strong><a name="ExampleUsage">Example Usage:</a></strong></dt>
    <dd>Insert in this section examples that show how the tool is 
    used.</dd>
    <br />



    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>Example Usage</b></p>
    
    <p>In the Example Usage section, we include some examples of the 
    tool being used. Include comments that describe what the options 
    and parameters mean where appropriate. We usually put the 
    description of what the example does before the example 
    command-line.</p> 
    
    <p>One of the examples should show the tool&rsquo;s default 
    behavior. The default behavior of a tool is usually what happens 
    when the tool is run without specifying any command-line 
    options.</p>
    
    <p>The following is the Example Usage section for 
    <a href="h5repack_Example.htm">
    <code>h5repack</code>:</a></p>
    
    <blockquote>
    
    <p>Applies GZIP compression to all objects in <code>file1</code> 
    and saves the output in <code>file2</code>. Prints verbose output.</p>
    <pre>
    <code>h5repack -f GZIP=1 -v file1 file2 </code>
    </pre>
    
    <p>Applies SZIP compression only to object <code>dset1</code>.</p>
    <pre>
    <code>h5repack -f dset1:SZIP=8,NN file1 file2 </code>
    </pre>
    
    <p>Applies chunked layout to objects <code>dset1</code> and 
    <code>dset2</code>.</p>
    <pre>
    <code>h5repack -l dset1,dset2:CHUNK=20x10 file1 file2</code>
    </pre>
    
    </blockquote>
    
    
    
    <p>The following is the Example Usage section for 
    <code>h5copy</code>:</p>
    
    <blockquote>
    
    <p>In verbose mode, create a new file, <code>test1.out.h5</code>, 
    containing the object <code>array</code> in the root group, copied 
    from the existing file <code>test1.h5</code> and object 
    <code>array</code>.
    
    <pre>
    h5copy -v -i "test1.h5" -o "test1.out.h5" -s "/array" -d "/array
    </pre>
    
    <p>In verbose mode and using the flag <code>shallow</code> to 
    prevent recursion in the file hierarchy, create a new file, 
    <code>test1.out.h5</code>, containing the object <code>array</code> 
    in the root group, copied from the existing file <code>test1.h5</code> 
    and object <code> array</code>. 
    
    <pre>
    h5copy -v -f shallow -i "test1.h5" -s "/array" -o test1.out.h5" -d "/array"
    </pre>
    
    </blockquote>
    
    <p>See the entries for these tools for more examples: 
    <code>h5dump</code>, <code>h5diff</code>, <code>h5mkgrp</code>, 
    and <code>h5fix_swapped_ids</code>.</p>
    
    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />
    <br />
    <br />



  <dt><strong><a name="SeeAlso">See Also:</a></strong></dt>
    <dd>Include in this section links or references to other relevant 
    information.
    </dd>
        <br />



    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>See Also</b></p>
    
    <p>In the See Also section, we list links or references to other 
    sources of information that might be useful to the reader.</p>
    <p>If there are several items, list them by type in the order
    shown below. In other words, list related functions first and 
    other related documents last.</p>
    
    <ul>
        <li>Functions</li>
        <li>Structs or ENUMs</li>
        <li>Callback or operator functions</li>
        <li>Tools</li>
        <li>Sections in the <i>HDF5 User&rsquo;s Guide</i></li>
        <li>Other related documents</li>
    </ul>    
    
    
    <p>The following is a sample list:</p>
    <ul>
        <li><a href="H5Dopen_Example.htm">
        <code>H5Dopen</code></a></li>
        <li><a href="H5Literate_Example.htm">
        <code>H5Literate</code></a></li>
        <li><a href="H5L_elink_traverse_t_Example.htm">
        <code>H5L_elink_traverse_t</code></a></li>
        <li><a href="h5tool_entry.htm"><code>h5tool</code></a></li>
        <li>&ldquo;Discovering Objects in a Group&rdquo; in the
        &ldquo;Groups&rdquo; 
        chapter of the
        <cite>HDF5 User&rsquo;s Guide</cite></li>
    </ul>
    
    
    <hr color="orange" size="3"/></td></tr>
    </table>
    <br />
    <br />
    <br />



  <dt><strong><a name="History">History:</a></strong></dt>
    <dd>List in this section major changes by library version number.
    </dd>

<br />



    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>History</b></p>
    
    <p>In the History section, we list major changes to the tool 
    by library version number. Major changes include when the tool 
    was first introduced. Other changes include behaviors that users 
    will see such as a change in a parameter or a change in capacity. 
    Replace the &laquo;*.**.**&raquo; variable in the Release column 
    with the appropriate release number. An example is 1.8.9. </p>
    <p>The list below shows the general format for this section.</p>
    
        <table width="90%">
        <tr>
          <td valign="top" align="left" width="20%">
            <strong>Release</strong></td>
          <td valign="top" align="left" width="80%">
            <strong>Change</strong></td>
        </tr>

        <tr>
          <td valign="top">&laquo;*.**.**&raquo;</td>
          <td valign="top">
            Tool introduced in this release.</td>
        </tr>

        <tr>
          <td valign="top">&laquo;*.**.**&raquo;</td>
          <td valign="top">
            Tool changed in-this-way.</td>
        </tr>
        </table></dd>
    
    <hr color="orange" size="3"/></td></tr>
    </tr>
    </table>
    <br />    
    
    
    
    <table align="center" width="600" cellpadding="5" >
    <tr >
    <td style="background-color:#CADFFF">
    <hr color="orange" size="3"/>
    <p><b>History Examples</b></p>
    
    <p>The table below shows some examples of the kinds of major changes 
    that should be noted in the History section. </p>
    
    
    
    <table align="center" width="90%" border="1" cellpadding="5">
    <tr>
    <td valign="top"><b>Tool</b>
    </td>
    <td valign="top"><b>History Statements</b>
    </td>
    </tr>
    
    <tr>
    <td valign="top"><code>h5repack</code>
    </td>
    <td valign="top">
        <p>Introduced in this release.</p>
        <p>Command-line syntax changed in this release.</p>
        <p>Original syntax restored; both the new and the original syntax
           are now supported.</p>
        <p><code>-M &laquo;size&raquo;, 
           --metadata_block_size=&laquo;size&raquo;</code> option 
           introduced in this release.</p>
    </td>
    </tr>
    
    <tr>
    <tr>
    <td valign="top"><code>h5perf</code>
    </td>
    <td valign="top">
        <p>Tool introduced in this release.</p>
        <p>Option <code>-g</code>, <code>--geometry</code> introduced 
        in this release.</p>
    </td>
    </tr>
    
    <tr>
    <td valign="top"><code>h5ls</code>
    </td>
    <td valign="top">
        <p>Option added in this release: <code>--follow-symlinks</code>.</p>
        <p>Option name <code>--enable-error-stack</code> replaces
           deprecated option name <code>--error</code> in this release.</p>
    </td>
    </tr>
    
    <tr>
    <td valign="top"><code>h5import</code>
    </td>
    <td valign="top">
    <p>Tool updated to accept <code>h5dump</code> output.</p>
    
    </td>
    </tr>
    
    </table>
    
    <hr color="orange" size="3"/></td></tr>
    </table>



</dl>
<br />
<br />
<br />

