

<p>???????</p>
<br />
<br />
<br />


<!--__ ** TOOL ENTRY TEMPLATE (h5tool_entry.htm) ****************** -->
<!--__ Last modified:  16 July 2009                                 -->
<!--__                                                              -->
<!--__ GENERAL INSTRUCTIONS                                         -->
<!--__                                                              -->
<!--__ This file provides a 'self-describing' template for          -->
<!--__ tool entries in the HDF5 Reference Manual (RM).              -->
<!--__                                                              -->
<!--__ You should be able to print this file with these comments    -->
<!--__ exposed for reference; speak with Frank if you have trouble  -->
<!--__ doing so.                                                    -->
<!--__                                                              -->
<!--__ For a new tool entry:                                        -->
<!--__   Rename this file as <tool_name>.htm.                       -->
<!--__   E.g., the file for the tool h5create_little_green_file     -->
<!--__   would be h5create_little_green_file.htm.                   -->
<!--__                                                              -->
<!--__ For an existing tool entry:                                  -->
<!--__   Use this file as a guide to the latest content and         -->
<!--__   organization.  If desired, copy instructions and HTML      -->
<!--__   tags from this file into the existing tool entry, and      -->
<!--__   use them as you make updates.                              -->
<!--__                                                              -->
<!--__                                                              -->
<!--__ To use the template:                                         -->
<!--__                                                              -->
<!--__ New tools are not created as frequently as new functions,    -->
<!--__ so this template is not as complete as the function          -->
<!--__ template.  Consult a member of the documentation team        -->
<!--__ if a new tool being documented requires additional elements. -->
<!--__                                                              -->
<!--__ Similarly, consult a member of the documentation team when   -->
<!--__ editing an existing tool that requires additional elements.  -->
<!--__                                                              -->
<!--__                                                              -->
<!--__ Replace instructional text with text relevant to the tool.   -->
<!--__                                                              -->
<!--__ Lines beginning with '<!--__' are instructions to you,       -->
<!--__ the author; feel free to remove them as you go.              -->
<!--__                                                              -->
<!--__ In general, HTML tags (enclosed in < >'s) should not be      -->
<!--__ changed.                                                     -->
<!--__                                                              -->
<!--__ Indent in a style consistent with the example text.          -->
<!--__ When possible, limit line length to 80 characters.           -->
<!--__ Make exceptions for cases where HTML requires longer lines.  -->
<!--__ For example, some links are more than 80 characters long     -->
<!--__ and cannot be readily broken.                                -->
<!--__                                                              -->
<!--__ If the function description calls for a table, you may       -->
<!--__ insert open and close 'pre' tags:                            -->
<!--__          <pre>                                               -->
<!--__          </pre>                                              -->
<!--__ Insert the table contents formatted as aligned flat text     -->
<!--__ between the open and close 'pre' tags.                       -->
<!--__ BE SURE to let a member of the documentation team know that  -->
<!--__ you have done this when you finish with the file so that the -->
<!--__ flat text can be converted to an HTML table.                 -->
<!--__                                                              -->
<!--__                                                              -->
<!--__ TOOL NAME INSTRUCTIONS                                       -->
<!--__ Replace the string 'h5tool_name' with the actual             -->
<!--__ tool name everywhere it occurs in the file.                  -->
<!--__                                                              -->
<!--__ SECTION-BY-SECTION INSTRUCTIONS                              -->
<!--__ Follow the embedded instructions for each section.           -->
<!--__                                                              -->


<!--__ ***********************************************************  -->
<!--__ Do not alter the next line; it is used by the PDF generator. -->
<!--__ ***********************************************************  -->
<!-- NEW PAGE -->


<!--__ *** HEADER RIGHT ******************************************  -->
<!--__ Update h5tool_name; leave remainder of line unchanged        -->
<!--__ as it is also used by the PDF generator.                     -->
<!--__ ***********************************************************  -->
<!-- HEADER RIGHT "h5tool_name" -->
<hr>
<dl>
<!--__ *** LAST MODIFIED DATE ************************************  -->
<!--__ Replace "day month year" with the date the entry was created -->
<!--__ or last modified:  8 April 2009, for example.                -->
<!--__ ***********************************************************  -->
  <dt><div align=right><font color=999999 size=-1><i>
      Last modified: day month year
      </i></font></div>


<!--__ *** TOOL NAME *********************************************  -->
<!--__ Update H5tool_name; leave remainder of line the same.        -->
<!--__ ***********************************************************  -->
  <dt><strong>Tool Name:</strong> <a name="Tools-ToolName">h5tool_name</a>


<!--__ *** SYNTAX ************************************************  -->
<!--__ Update h5tool_name and parameters in syntax statement,       -->
<!--__ adjusting number of parameters and options as needed.        -->
<!--__ ***********************************************************  -->
  <dt><strong>Syntax:</strong>
    <dd><code>h5tool_name 
            [OPTIONS]
            <em>first_parameter</em>
            <em>second_parameter</em>
            <em>last_parameter</em>
            </code>


<!--__ *** PURPOSE ***********************************************  -->
<!--__                                                              -->
<!--__ This section provides a one-line description of the tool's   -->
<!--__ purpose in sentence form.                                    -->
<!--__ NOTE THAT THE PURPOSE IS NOT NECESSARILY A RECAPITULATION    -->
<!--__ OF WHAT THE TOOL DOES; RATHER, IT SHOULD DESCRIBE WHAT THE   -->
<!--__ TOOL IS MEANT TO ACCOPMLISH, FROM THE USER POINT OF VIEW.    -->
<!--__                                                              -->
<!--__ While this statement should be kept short, it must also      -->
<!--__ include enough detail to clearly describe to tool's use.     -->
<!--__ For example, the first line in each pair below includes      -->
<!--__ useful informatiion that is omitted in the second.           -->
<!--__                                                              -->
<!--__    Converts a GIF file to an HDF5 file.                      -->
<!--__    Converts a GIF file.                                      -->
<!--__                                                              -->
<!--__    Creates a dataset at a specified location.                -->
<!--__    Creates a dataset.                                        -->
<!--__                                                              -->
<!--__    Helper script to compile HDF5 C++ applications.           -->
<!--__    Helper script to compile HDF5 applications.               -->
<!--__                                                              -->
<!--__ This statement usually starts with an active verb such as    -->
<!--__ one of the following:                                        -->
<!--__    Creates, Converts, Compares, Tests                        -->
<!--__ Helper script purpose statements take more descriptive form: -->
<!--__    A helper script to...                                     -->
<!--__ ***********************************************************  -->
  <p>
  <dt><strong>Purpose:</strong>
      <dd>Insert 1-line purpose statement here.


<!--__ *** MOTIVATION ********************************************  -->
<!--__ This an OPTIONAL section for tools that may need more than   -->
<!--__ the simple statement in "Purpose:" to enable a user to       -->
<!--__ understand the situations that might call for this tool's    -->
<!--__ use and/or the types of problems it addresses.               -->
<!--__                                                              -->
<!--__ Update h5tool_name and the motivation text.                  -->
<!--__ ***********************************************************  -->
  <p>
  <dt><strong>Motivation:</strong>
    <dd><code>H5tool_name</code> 
      is used in these circumstances to achieve these things and/or 
      to address these problems.  
      <p>
      Keep it concise and high-level, but use multiple paragraphs 
      if needed.


<!--__ *** DESCRIPTION *******************************************  -->
<!--__ The "Description" section provides a more detailed           -->
<!--__ description of the tool and instructions for its use.    -->
<!--__                                                              -->
<!--__ Update h5tool_name and the description text.             -->
<!--__ ***********************************************************  -->
  <p>
  <dt><strong>Description:</strong>
    <dd><code>h5tool_name</code> 
      does whatever this first paragraph says it does.  This 
      paragraph goes into more detail than the purpose line,
      briefly mentions the roles of all parameters or groups of 
      parameters, and may summarize the effect of options; 
      it does not include details.
      <p>
      Succeeding paragraphs provide more detailed information
      regarding various aspects of the tool or its use.
      <p>
      In general, parameters should be discussed in "Parameters:" 
      and options should be discussed "Options:" (below).  These
      discussion will include complete descriptions and
      possible values.  Important groupings of or relationships 
      among parameters and/or options and interactions among 
      parameters and/or can be discussed either here or in the 
      "Parameters:" or "Options:" sections; the determining
      factor is ease of user understanding.
       
      <p>
      Things that may not be obvious, but that are important for 
      correct use of the functions should be discussed here:
      observations, caveats, special instructions, and warnings, 
      for examples.  The reader should never have to look at the 
      source code or tests to figure these things out.
       
      <p>
      <b>Note/Warning:</b> If there is a risk of data corruption,
      silent failure, or unintended consequences that might go
      unnoticed, consider adding a <b>Note:</b> or <b>Warning:</b>
      lead-in to a paragraph.  In general, such notes should come at
      the end of the &ldquo;Description:&rdquo; section.


<!--__ *** PARAMETERS AND OPTIONS ********************************  -->
<!--__ This section is used to enumerate and describe the tool's    -->
<!--__ parameters and options.  In some cases, it will be necessary -->
<!--__ to provide the specific values that a parameter may assume   -->
<!--__ or that may accompany an option and the meanings of those    -->
<!--__ values.                                                      -->
<!--__                                                              -->
<!--__ For each parameter, include the parameter name and a         -->
<!--__ meaningfully complete description.                           -->
<!--__                                                              -->
<!--__ For each option, include the short and long forms            -->
<!--__ (e.g., -v and --verbose) and a description.                  -->
<!--__ ***********************************************************  -->
  <p>
  <dt><strong>Parameters and Options:</strong>
    <dd><dl>
        <dt><b>Parameters:</b>
        <dt><code><em>parameter_1</em></code>
            <dd>Describe first parameter here.
        <dt><code><em>parameter_2</em></code>
            <dd>Describe second parameter here.
                <p>
                Repeat as necessary.  Examples follow.
        <dt><code><em>file_name</em></code>
            <dd>Name of HDF5 file within which new group is to be created.
        <dt><code><em>group_name</em></code>
            <dd>Name of group to be created; specified as full path name 
                from the root group, i.e., starting with a slash (/).

        <br>&nbsp;
        <dt><b>Options:</b>
        <dt><code>-h, --help</code>
            <dd>Print a usage message and exit.
        <dt><code>-v, --verbose</code>
            <dd>Print verbose output, including information about file, group(s), 
                and options.
        <dt><code>-l, --long_option</code>
            <dd>List the short form of the option and, if available, 
                the long form.
                <p>
                Repeat as necessary.  Examples follow.
        <dt><code>-v, --verbose</code>
            <dd>Print verbose output, including information about file, group(s), 
                and options.

<!--__ ***********************************************************  -->
<!--__ If a parameter or an option argument is limited to certain   -->
<!--__ values, include a paragraph in that parameter or option      -->
<!--__ description modeled on the following to list the valid       -->
<!--__ values or precisely describe their valid range.              -->
<!--__ ***********************************************************  -->
                <p>
                <code><em>parameter</em></code> or
                <code><em>option_argument</em></code> 
                (pick one and edit appropriately)
                must be set to one of the following:
                <table align="center" width="80%">
                    <tr align="left" valign="top">
                        <td width="25%"><code>LE</code></td>
                        <td width="75%">Little-endian</td>
                        </tr>
                    <tr align="left" valign="top">
                        <td><code>BE</code></td>
                        <td>Big-endian</td>
                        </tr>
                    <tr align="left" valign="top">
                        <td><code>MEMORY</code></td>
                        <td>Memory datatype</td>
                        </tr>
                    <tr align="left" valign="top">
                        <td><code>FILE</code></td>
                        <td>File datatype</td>
                        </tr>
                </table>

<!--__ ***********************************************************  -->
<!--__ Leave the following line in place to close the "Parameters   -->
<!--__ and Options" section.                                        -->
<!--__ ***********************************************************  -->
        </dl>


<!--__ *** USAGE EXAMPLES ****************************************  -->
<!--__ Multiple examples may be given.  Two are shown below and     -->
<!--__ more can be added if needed (or one removed).                -->
<!--__                                                              -->
<!--__ Each usage example should have text describing the meanings  -->
<!--__ of the parameters following the <dd> tag.                    -->
<!--__ The sample usage line(s) should be entered between the       -->
<!--__ <dir><pre> and </pre></dir> tags.                            -->
<!--__ Multiple entries are separated by <p> tags.                  -->
<!--__ ***********************************************************  -->
  <p>
  <dt><strong>Example Usage:</strong>

    <dd>Discuss the elements in the first usage example here.
<dir><pre>
Complete usage example line(s) for the first example here
</pre></dir>
    <p>

    <dd>Discuss the elements in the second usage example here.
<dir><pre>
Complete usage example line(s) for the second example here
</pre></dir>
  <p>


<!--__ *** SEE ALSO **********************************************  -->
<!--__ Provide links to related documentation, such as related      -->
<!--__ tools, functions, user guide sections, etc.                  -->
<!--__                                                              -->
<!--__ Ask a member of the documentation team if you need help      -->
<!--__ identifying or locating references.                          -->
<!--__                                                              -->
<!--__ Edit the sample links provided, and delete unneeded text.    -->
<!--__ The order is functions, callback or operator functions,      -->
<!--__ HDF5 structures, tools, then other documents.                -->
<!--__ Use a <p> between types of documents.                        -->
<!--__ ***********************************************************  -->
  <p>
  <dt><strong>See Also:</strong>
    <dd><a href="../html/RM/RM_H5D.html#Dataset-Create">
        <code>H5Dcreate</code></a>,
        &nbsp;
        <a href="../html/RM/RM_H5T.html#Datatype-Commit">
        <code>H5Tcommit</code></a>
        <p>

        <a href="../html/RM/H5function.html#H5L_elink_traverse_t">
        <code>H5L_elink_traverse_t</code></a>
        <p>

        <a href="../html/RM/Tools.html#h5dump"><code>h5dump</code></a>
        <p>

        &ldquo;Discovering Objects in a Group&rdquo; in the
        &ldquo;<a href="../../html/UG/UG_frame09Groups.html">Groups</a>&rdquo; 
        chapter of the
        <a href="../../html/UG/index.html"><cite>HDF5 User&rsquo;s Guide</cite></a>


<!--__ *** HISTORY ***********************************************  -->
<!--__ Provide information about the HDF5 library version where the -->
<!--__ tool was first introduced and when major changes to the tool -->
<!--__ were made.                                                   -->
<!--__                                                              -->
<!--__ Replace *.**.** below with the appropriate release number,   -->
<!--__ e.g., '1.10.4'.                                              -->
<!--__                                                              -->
<!--__ There are several minor variations on what you might need    -->
<!--__ to convey in the history section.  If you need assistance    -->
<!--__ or your task is not described, speak with Frank.             -->
<!--__ ***********************************************************  -->

<!--__ ***********************************************************  -->
<!--__ Do not modify the next 9 lines; they set up the table.       -->
<!--__ ***********************************************************  -->
  <p>
  <dt><strong>History:</strong>
    <dd><table width="90%">
        <tr>
          <td valign="top" align="left" width="10%">
            <strong>Release</strong>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td valign="top" align="left">
            <strong>Change</strong></td>
        </tr>

<!--__ ***********************************************************  -->
<!--__ If adding a new tool, include the following 5 lines,         -->
<!--__ replacing '*.**.**' with the appropriate release number,     -->
<!--__ but otherwise without modification.                          -->
<!--__                                                              -->
<!--__ In each case below, use only the sections that apply.        -->
<!--__ ***********************************************************  -->
        <tr>
          <td valign="top">*.**.**</td>
          <td valign="top">
            Tool introduced in this release.</td>
        </tr>

<!--__ ***********************************************************  -->
<!--__ If describing a change to the syntax or behavior of a tool,  -->
<!--__ include the following lines,                                 -->
<!--__ replacing '*.**.**' with the appropriate release number      -->
<!--__ and editing the "in-this-way" text as appropriate.           -->
<!--__ ***********************************************************  -->
        <tr>
          <td valign="top">*.**.**</td>
          <td valign="top">
            Tool changed in-this-way.</td>
        </tr>

<!--__ ***********************************************************  -->
<!--__ Do not modify the next 3 lines; they close the "History:"    -->
<!--__ table and the tool entry.                                -->
<!--__ ***********************************************************  -->
        </tr>
        </table>
</dl>

