
<br />
<table align="center" width="600" cellpadding="5">
<tr >
<td style="background-color:#DDEEEE">
<hr color="green" size="3"/>
<h1 align="center">HDF5 Tool Entry Template</h1>
<h3 align="center">A Template for HDF5 Tool Entries</h3>

<hr color="green" size="3"/></td></tr>
</table>
<br />



<table align="center" width="600" cellpadding="5">
<tr >
<td style="background-color:#DDEEEE">
<hr color="green" size="3"/>
<p><b>Directions</b></p>

    <ul>
    <li>Copy this file, and rename the copied file as tool_name.htm 
        where tool_name is the name of the tool.</li>
    <li>Edit the new file. In each of the sections shown below, 
        replace the instruction sentence with the appropriate information.</li> 
    <li>When you are finished, remove the comment blocks, and then 
        send a copy to the Doc Team for final editing and publishing.</li>
    </ul>
<hr color="green" size="3"/></td></tr>
</table>
<br />



<table align="center" width="600" cellpadding="5">
<tr >
<td style="background-color:#DDEEEE">
<hr color="green" size="3"/>
<p><b>For More Information</b></p>

<p>If you have questions about the information you should include 
in each section in this template, see the 
<a href="h5tool_entry_WithComments.htm">
h5tool_entry_WithComments.htm</a> file or talk with the Doc Team.</p>

<p>This template and related files can be found in SVN in the doc
repository at 
<a href="https://svn.hdfgroup.uiuc.edu/hdf5doc/trunk/hdf5doc_support/templates">
https://svn.hdfgroup.uiuc.edu/hdf5doc/trunk/hdf5doc_support/templates</a>.</p>

<p>In Confluence, more information for writing documentation can be 
found on the 
<a href="https://confluence.hdfgroup.uiuc.edu/display/TECHDOC/Dev+Doc+Start">
Dev Doc Start</a> page.</p>

<p>The latest version of <i>HDF5 Tools</i> is at 
<a href="http://www.hdfgroup.org/HDF5/doc/RM/Tools.html">
http://www.hdfgroup.org/HDF5/doc/RM/Tools.html</a>.</p>

<hr color="green" size="3"/></td></tr>
</table>
<br />
<br />
<br />



<!--__ ***********************************************************  -->
<!--__ Do not alter the next line; it is used by the PDF generator. -->
<!--__ ***********************************************************  -->
<!-- NEW PAGE -->


<!--__ *** HEADER RIGHT ******************************************  -->
<!--__ Update h5tool_name; leave remainder of line unchanged        -->
<!--__ as it is also used by the PDF generator.                     -->
<!--__ ***********************************************************  -->
<!-- HEADER RIGHT "h5tool_name" -->
<hr />
<dl>

<dt><div align="right"><font color="999999" size="-1"><i>
      Last modified: &laquo;day_month_year&raquo;
      </i></font></div></dt>
      <dd>Insert the date on which the latest changes were made.</dd>
      <br />



  <dt><strong>Tool Name:</strong> 
  <a name="Tools-ToolName">&laquo;<code>h5tool_name</code>&raquo;</a></dt>
    <dd>Replace &laquo;<code>h5tool_name</code>&raquo; with the name 
    of the tool.</dd>
    <br />



  <dt><strong>Syntax:</strong></dt>
    <dd>Insert the command-line syntax here.</dd>
    <br />



  <dt><strong>Purpose:</strong></dt>
    <dd>Describe in this section what the tool accomplishes in a 
    one-line statement that begins with a verb.</dd>
    <br />



  <dt><strong>Motivation:</strong></dt>
    <dd>Tell the reader in this section why they might want to use this 
    tool.</dd>
    <br />



  <dt><strong>Description:</strong></dt>
    <dd>In this section, provide a more detailed description of the 
    tool and instructions for its use.
    </dd>
    <br />



  <dt><strong>Options and Parameters:
  </strong>
  </dt>
    <dd>List and define in this section the options and parameters used by the 
    tool.</dd>
    <br />



    <dd><strong>Options:</strong></dd>
    <dd>List and describe the command-line options in this sub-section.</dd>
    <br />



    <dd><strong>Parameters:</strong></dd>
    <dd>List and describe the parameters in this sub-section.</dd>
    <br />



    <dt><strong>Exit Status:</strong></dt>
    <dd>List in this section what the exit status values. </dd>
    <br />



    <dt><strong>Environment 
    Variables:</strong></dt>
    
    <dd>Insert in this section any environment variables that are 
    needed for the tool to run. </dd>
    <br />



  <dt><strong>Example Usage:</strong></dt>
    <dd>Insert in this section an example or two that show how the 
    tool is used.</dd>
    <br />



  <dt><strong>See Also:</strong></dt>
    <dd>Include in this section links or references to other relevant 
    information. If the links are listed with ul tags, the dd tags 
    will not be needed (the indent will be too large with both ul 
    and dd tags).
    </dd>
    <br />



  <dt><strong>History:</strong></dt>
    <dd>List in this section major changes by library version number.
    </dd>

<br />



</dl>
<br />
<br />
<br />

