A.link {
	color: blue;
	text-decoration: underline;
}
A.visited {
	color: purple;
	text-decoration: underline;
}
A.active {
	color: red;
	text-decoration: underline;
}
P.FM-C-Contacts {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 24.000000pt;
	margin-bottom: 72.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 24.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #0000aa;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
LI.FM-D-Date {
	display: block;
	text-align: right;
	text-indent: 0.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 9.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
P.FM-I-IX-Heading {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 24.000000pt;
	margin-bottom: 72.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 24.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #0000aa;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
P.FM-L-Legal {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 24.000000pt;
	margin-bottom: 72.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 24.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #0000aa;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
LI.FM-P-NumberPart {
	display: block;
	text-align: right;
	text-indent: 0.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 9.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
LI.FM-S-NumberSection {
	display: block;
	text-align: center;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 72.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #ffffff;
	background: #0000aa;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
P.FM-T-TOC-Heading {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 24.000000pt;
	margin-bottom: 72.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 24.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #0000aa;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
P.FM-Body {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 7.000000pt;
	margin-bottom: 7.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Calibri";
}
P.FM-BodyCaption {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Calibri";
}
P.FM-BodyCell {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Calibri";
}
P.FM-BodyCellCode {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier New";
}
P.FM-BodyCode {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 6.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier New";
}
P.FM-BodyCodeIndent {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 6.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 0.000000pt;
	margin-left: 36.000000pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier New";
}
H1.FM-CaptionCodeExample, H2.FM-CaptionCodeExample, H3.FM-CaptionCodeExample, H4.FM-CaptionCodeExample, H5.FM-CaptionCodeExample, H6.FM-CaptionCodeExample {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 7.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
H1.FM-CaptionCodeExample1, H2.FM-CaptionCodeExample1, H3.FM-CaptionCodeExample1, H4.FM-CaptionCodeExample1, H5.FM-CaptionCodeExample1, H6.FM-CaptionCodeExample1 {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 7.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
H1.FM-CaptionFigure, H2.FM-CaptionFigure, H3.FM-CaptionFigure, H4.FM-CaptionFigure, H5.FM-CaptionFigure, H6.FM-CaptionFigure {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 7.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
H1.FM-CaptionFigure1, H2.FM-CaptionFigure1, H3.FM-CaptionFigure1, H4.FM-CaptionFigure1, H5.FM-CaptionFigure1, H6.FM-CaptionFigure1 {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 7.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
H1.FM-CaptionFunctionListing, H2.FM-CaptionFunctionListing, H3.FM-CaptionFunctionListing, H4.FM-CaptionFunctionListing, H5.FM-CaptionFunctionListing, H6.FM-CaptionFunctionListing {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 7.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
H1.FM-CaptionFunctionListing1, H2.FM-CaptionFunctionListing1, H3.FM-CaptionFunctionListing1, H4.FM-CaptionFunctionListing1, H5.FM-CaptionFunctionListing1, H6.FM-CaptionFunctionListing1 {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 7.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
H1.FM-CaptionNote, H2.FM-CaptionNote, H3.FM-CaptionNote, H4.FM-CaptionNote, H5.FM-CaptionNote, H6.FM-CaptionNote {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 12.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Italic;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Calibri";
}
H1.FM-CaptionSidebar, H2.FM-CaptionSidebar, H3.FM-CaptionSidebar, H4.FM-CaptionSidebar, H5.FM-CaptionSidebar, H6.FM-CaptionSidebar {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 7.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
H1.FM-CaptionSidebar1, H2.FM-CaptionSidebar1, H3.FM-CaptionSidebar1, H4.FM-CaptionSidebar1, H5.FM-CaptionSidebar1, H6.FM-CaptionSidebar1 {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 7.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
H1.FM-CaptionTable, H2.FM-CaptionTable, H3.FM-CaptionTable, H4.FM-CaptionTable, H5.FM-CaptionTable, H6.FM-CaptionTable {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 7.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
H1.FM-CaptionTable1, H2.FM-CaptionTable1, H3.FM-CaptionTable1, H4.FM-CaptionTable1, H5.FM-CaptionTable1, H6.FM-CaptionTable1 {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 7.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
P.FM-Footer {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
P.FM-Header {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
H1.FM-Heading-Book, H2.FM-Heading-Book, H3.FM-Heading-Book, H4.FM-Heading-Book, H5.FM-Heading-Book, H6.FM-Heading-Book {
	display: block;
	text-align: center;
	text-indent: 0.000000pt;
	margin-top: 36.000000pt;
	margin-bottom: 108.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 36.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
P.FM-Heading-Cell {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
H1.FM-Heading-Contents, H2.FM-Heading-Contents, H3.FM-Heading-Contents, H4.FM-Heading-Contents, H5.FM-Heading-Contents, H6.FM-Heading-Contents {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 63.000000pt;
	margin-bottom: 31.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 24.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
H1.FM-Heading-Level1, H2.FM-Heading-Level1, H3.FM-Heading-Level1, H4.FM-Heading-Level1, H5.FM-Heading-Level1, H6.FM-Heading-Level1 {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 63.000000pt;
	margin-bottom: 31.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 24.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
P.FM-Heading-Level1NoNumber {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 63.000000pt;
	margin-bottom: 31.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 24.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
P.FM-Heading-Level1TOC {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 13.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Calibri";
}
H1.FM-Heading-Level2, H2.FM-Heading-Level2, H3.FM-Heading-Level2, H4.FM-Heading-Level2, H5.FM-Heading-Level2, H6.FM-Heading-Level2 {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 47.000000pt;
	margin-bottom: 23.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 18.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
P.FM-Heading-Level2TOC {
	display: block;
	text-align: left;
	text-indent: 14.399994pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Calibri";
}
H1.FM-Heading-Level3, H2.FM-Heading-Level3, H3.FM-Heading-Level3, H4.FM-Heading-Level3, H5.FM-Heading-Level3, H6.FM-Heading-Level3 {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 36.000000pt;
	margin-bottom: 17.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 14.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
P.FM-Heading-Level3TOC {
	display: block;
	text-align: left;
	text-indent: 28.799988pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Calibri";
}
H1.FM-Heading-Level4, H2.FM-Heading-Level4, H3.FM-Heading-Level4, H4.FM-Heading-Level4, H5.FM-Heading-Level4, H6.FM-Heading-Level4 {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 30.000000pt;
	margin-bottom: 14.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
P.FM-Heading-Level4TOC {
	display: block;
	text-align: left;
	text-indent: 43.199997pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Calibri";
}
H1.FM-Heading-Level5, H2.FM-Heading-Level5, H3.FM-Heading-Level5, H4.FM-Heading-Level5, H5.FM-Heading-Level5, H6.FM-Heading-Level5 {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 30.000000pt;
	margin-bottom: 14.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
H1.FM-Heading-Level-UpdateStatus, H2.FM-Heading-Level-UpdateStatus, H3.FM-Heading-Level-UpdateStatus, H4.FM-Heading-Level-UpdateStatus, H5.FM-Heading-Level-UpdateStatus, H6.FM-Heading-Level-UpdateStatus {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 63.000000pt;
	margin-bottom: 31.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 24.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
H1.FM-Heading-Level-UpdateStatusTOC, H2.FM-Heading-Level-UpdateStatusTOC, H3.FM-Heading-Level-UpdateStatusTOC, H4.FM-Heading-Level-UpdateStatusTOC, H5.FM-Heading-Level-UpdateStatusTOC, H6.FM-Heading-Level-UpdateStatusTOC {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 13.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Calibri";
}
H1.FM-Heading-SubSection, H2.FM-Heading-SubSection, H3.FM-Heading-SubSection, H4.FM-Heading-SubSection, H5.FM-Heading-SubSection, H6.FM-Heading-SubSection {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 15.000000pt;
	margin-bottom: 7.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
P.FM-Heading-SubTitle {
	display: block;
	text-align: center;
	text-indent: 0.000000pt;
	margin-top: 24.000000pt;
	margin-bottom: 72.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 24.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
LI.FM-ListBullets-Level1 {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 36.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Calibri";
}
LI.FM-ListBullets-Level2 {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 54.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Calibri";
}
LI.FM-ListNumbered1-Level1 {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 36.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Calibri";
}
LI.FM-ListNumbered-Level1 {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 36.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Calibri";
}
LI.FM-ListNumbered-Level2 {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 3.000000pt;
	margin-bottom: 3.000000pt;
	margin-right: 0.000000pt;
	margin-left: 54.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Calibri";
}
LI.FM-TableCodeExample1 {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 7.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
LI.B1-BulletLevel01 {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 6.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 0.000000pt;
	margin-left: 36.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
LI.B2-BulletLevel02 {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 54.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
P.BB-BodyBegin {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 8.000000pt;
	margin-bottom: 8.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
P.BC-BodyContent {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 7.000000pt;
	margin-bottom: 7.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Calibri";
}
P.Body {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
LI.Bulleted {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
P.CB-CellBody {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
P.CellBody {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
P.CellHeading {
	display: block;
	text-align: center;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
P.CF-CellFigure {
	display: block;
	text-align: center;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
P.CH-CellHeading {
	display: block;
	text-align: center;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
P.DD-DefintionDescription {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
P.DT-DefinitionTerm {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 6.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
LI.FC-FigureCaption {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 8.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Italic;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
P.FF-FigureFrame {
	display: block;
	text-align: justify;
	text-indent: 18.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 8.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
P.FN-Footnote {
	display: block;
	text-align: left;
	text-indent: -12.000229pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 18.000000pt;
	margin-left: 30.000229pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
P.Footer {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #0000aa;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino Linotype";
}
P.Footnote {
	display: block;
	text-align: left;
	text-indent: -12.000229pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 18.000000pt;
	margin-left: 30.000229pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
H1.H0-Heading0, H2.H0-Heading0, H3.H0-Heading0, H4.H0-Heading0, H5.H0-Heading0, H6.H0-Heading0 {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 24.000000pt;
	margin-bottom: 72.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 24.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #0000aa;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
H1.H1-Heading1, H2.H1-Heading1, H3.H1-Heading1, H4.H1-Heading1, H5.H1-Heading1, H6.H1-Heading1 {
	display: block;
	text-align: left;
	text-indent: -59.399994pt;
	margin-top: 48.000000pt;
	margin-bottom: 24.000000pt;
	margin-right: 0.000000pt;
	margin-left: 59.399994pt;
	font-size: 18.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #0000aa;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
H1.H2-Heading2, H2.H2-Heading2, H3.H2-Heading2, H4.H2-Heading2, H5.H2-Heading2, H6.H2-Heading2 {
	display: block;
	text-align: left;
	text-indent: -59.399994pt;
	margin-top: 36.000000pt;
	margin-bottom: 18.000000pt;
	margin-right: 0.000000pt;
	margin-left: 59.399994pt;
	font-size: 14.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #0000aa;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
H1.H3-Heading3, H2.H3-Heading3, H3.H3-Heading3, H4.H3-Heading3, H5.H3-Heading3, H6.H3-Heading3 {
	display: block;
	text-align: left;
	text-indent: -59.399994pt;
	margin-top: 18.000000pt;
	margin-bottom: 8.000000pt;
	margin-right: 0.000000pt;
	margin-left: 59.399994pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #0000aa;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
P.HB-HeadingBook {
	display: block;
	text-align: center;
	text-indent: 0.000000pt;
	margin-top: 36.000000pt;
	margin-bottom: 108.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 36.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #ffffff;
	background: #0000aa;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
H1.Heading1, H2.Heading1, H3.Heading1, H4.Heading1, H5.Heading1, H6.Heading1 {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 14.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 14.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
H1.Heading2, H2.Heading2, H3.Heading2, H4.Heading2, H5.Heading2, H6.Heading2 {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 12.000000pt;
	margin-bottom: 3.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
P.HeadingRunIn {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 6.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
P.Indented {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
LI.L1-ListLevel01-Begin {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 36.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
LI.L1-ListLevel01-Continue {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 36.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
LI.L2-ListLevel02 {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 54.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
P.Mapping-Table-Cell {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 1.000000pt;
	margin-bottom: 1.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Calibri";
}
P.Mapping-Table-Title {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 2.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 14.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
LI.NC-Caution {
	display: block;
	text-align: justify;
	text-indent: -63.000000pt;
	margin-top: 8.000000pt;
	margin-bottom: 8.000000pt;
	margin-right: 9.000000pt;
	margin-left: 72.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Italic;
	color: #000000;
	background: #ffff00;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
LI.ND-Danger {
	display: block;
	text-align: justify;
	text-indent: -63.000000pt;
	margin-top: 8.000000pt;
	margin-bottom: 8.000000pt;
	margin-right: 9.000000pt;
	margin-left: 72.000000pt;
	font-size: 11.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #ffffff;
	background: #ff0000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
H1.NN-Note, H2.NN-Note, H3.NN-Note, H4.NN-Note, H5.NN-Note, H6.NN-Note {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 8.000000pt;
	margin-bottom: 8.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
H1.NT-Tip, H2.NT-Tip, H3.NT-Tip, H4.NT-Tip, H5.NT-Tip, H6.NT-Tip {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 8.000000pt;
	margin-bottom: 8.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Italic;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
LI.Numbered {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
LI.Numbered1 {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
LI.S1-StepLevel01-Continue {
	display: block;
	text-align: left;
	text-indent: -54.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 72.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
LI.S1-StepLevel01-Start {
	display: block;
	text-align: left;
	text-indent: -54.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 72.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
LI.SC-StepChoice {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 90.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
LI.SE-StepExample {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 72.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
P.SF-StepFigure {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 72.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
LI.SI-StepInfo {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 72.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
LI.SO-StepOutcome {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 72.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
LI.SR-StepResultFinal {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 8.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
LI.SS-StepSub {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 90.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
LI.SW-StepWhenDone {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 8.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
P.TableFootnote {
	display: block;
	text-align: left;
	text-indent: -12.000229pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 18.000000pt;
	margin-left: 30.000229pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
LI.TableTitle {
	display: block;
	text-align: center;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
LI.TC-TableCaption {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #0000aa;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
P.TF-TableFootnote {
	display: block;
	text-align: left;
	text-indent: -12.000229pt;
	margin-top: 3.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 18.000000pt;
	margin-left: 30.000229pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
H1.Title, H2.Title, H3.Title, H4.Title, H5.Title, H6.Title {
	display: block;
	text-align: center;
	text-indent: 0.000000pt;
	margin-top: 24.000000pt;
	margin-bottom: 12.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 18.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
CODE.Code {
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier New";
}
EM.CodeItalic {
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Italic;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier New";
}
EM.DB-DialogBoxComponent {
	font-weight: medium;
	font-style: Italic;
	color: #00aa00;
	font-family: "Myriad Pro";
}
EM.DT-DialogTitle {
	font-weight: Bold;
	color: #00aa00;
	font-family: "Myriad Pro";
}
STRONG.EH-EmphasisHeavy {
	font-size: 11.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Calibri";
}
EM.EI-EmphasisItalic {
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Italic;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Calibri";
}
EM.EIH-EmphasisItalicHeavy {
	font-size: 11.000000pt;
	font-weight: Bold;
	font-style: Italic;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Calibri";
}
EM.Emphasis {
	font-style: Italic;
}
EM.EquationVariables {
	font-style: Italic;
}
EM.LT-LinkText {
	font-style: Italic;
	color: #0000ff;
	font-family: "Myriad Pro";
}
EM.MO-MenuOption {
	font-weight: Bold;
	color: #0000aa;
	font-family: "Myriad Pro";
}
EM.n {
}
EM.n- {
}
EM.PN-PageNumber {
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #0000aa;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Myriad Pro";
}
EM.SN-StepNumber {
	font-weight: Bold;
	color: #0000aa;
	font-family: "Myriad Pro";
}
EM.WD-Wingdings {
	font-size: 8.000000pt;
	font-family: "Wingdings";
}
